{% if entry.tags is not empty %}
    {% set tags = entry.tags|split(',') %}
    {% set related_posts = [] %}

    {% set relatedBlogPostsCacheID = strings('relatedBlogPostsCacheID' ~ entry.id).hash().toString() %}
    {% if flextype.cache.has(relatedBlogPostsCacheID) %}
        {% set blog = flextype.cache.get(relatedBlogPostsCacheID) %}
    {% else %}
        {% set blog = flextype.entries.fetch('/blog', {'collection': true}).exceptFromCollection(['content']) %}
        {% do flextype.cache.set(relatedBlogPostsCacheID, blog) %}
    {% endif %}

    {% for tag in tags %}
        {% set related_posts = related_posts|merge(blog.copy()
                                                       .where('tags', 'contains', tag)
                                                       .where('visibility', 'nin', ['draft', 'hidden'])
                                                       .sortBy('published_at', 'DESC')
                                                       .limit(6)) %}
    {% endfor %}

    {% if related_posts|length > 0 %}
    <div class="p-2 text-black mb-6">
        <h4>Related Posts</h4>
        {% for related_post in related_posts %}
            {% if related_post.slug != entry.slug %}
            <a href="{{ url() }}/{{ related_post.id }}" class="flex align-middle mb-6 px-6 post">
                <h4 class="w-8/12 text-xl pb-0 mb-0">{{ related_post.title }}</h4>
                <div class="w-4/12 text-xl text-right opacity-50">
                    {{ related_post.published_at|date(flextype.registry.get('flextype.settings.date_display_format')) }}
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endif %}
