<div class="flex justify-around bg-white dark:bg-slate-800  dark:border-slate-500 border rounded-md mt-14 border-slate-900 mx-auto lg:max-w-[780px] overflow-hidden">
  <a class="nav-link {{ strings(id).contains('flextype') ? 'active' : '' }} w-full text-center m-0 p-0 px-3 py-2 font-semibold text-xs uppercase no-underline border-r border-slate-900 dark:border-slate-500" href="{{ url() }}/flextype/">Flextype</a>
  <a class="nav-link w-full text-center m-0 p-0 px-3 py-2 font-semibold text-xs uppercase no-underline border-r border-slate-900 dark:border-slate-500" href="{{ url() }}/flextype/downloads/">Downloads</a>
  <a class="nav-link w-full text-center m-0 p-0 px-3 py-2 font-semibold text-xs uppercase no-underline" href="{{ url() }}/flextype/documentation/">Documentation</a>
  <a class="nav-link m-0 p-0 px-3 py-2 border-l border-slate-900 dark:border-slate-500 font-semibold text-xs uppercase no-underline hidden lg:block" href="https://github.com/flextype/flextype/discussions">
    GITHUB
  </a>
  <a class="nav-link m-0 p-0 px-3 py-2 border-l border-slate-900 dark:border-slate-500 font-semibold text-xs uppercase no-underline hidden lg:block" href="https://twitter.com/_flextype">
    TWITTER
  </a>
</div>