{% extends 'views/templates/partials/base.html' %}

{% block content %}
{% include 'views/templates/flextype/partials/nav.html' %}
<div class="container mx-auto pb-24">
    <h1 class="uppercase text-center text-3xl lg:text-6xl m-0 mt-24 mb-24">
        {{ title|raw }}
    </h1>
    <h2 class="text-center m-0 pl-6 pr-6 lg:pl-40 lg:pr-40 pb-24 text-xl font-normal">
        {{ description|raw }}
    </h2>
    <div class="flex content-center flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-6/12 p-6 text-center">
            <div class="p-12 h-full plate">
                <div class="icon-svg-large mb-5 text-center">{{ icon('github', 'fontawesome|brands') }}</div>
                <h4 class="text-2xl">{{ entry.txt_github_heading|raw }}</h4>
                <div class="h-24 mb-10">
                    {{ entry.txt_github_p|raw }}
                </div>
                <a class="button" href="https://github.com/flextype">{{ entry.txt_github_button|raw }}</a>
            </div>
        </div>
        <div class="w-full lg:w-6/12 p-6 text-center">
            <div class="p-12 h-full plate">
                <div class="icon-svg-large mb-5 text-center">{{ icon('discord', 'fontawesome|brands') }}</div>
                <h4 class="text-2xl">{{ entry.txt_discord_heading|raw }}</h4>
                <div class="h-24 mb-10">
                    {{ entry.txt_discord_p|raw }}
                </div>
                <a class="button" href="https://discord.gg/CCKPKVG">{{ entry.txt_discord_button|raw }}</a>
            </div>
        </div>
        <div class="w-full lg:w-6/12 p-6 text-center">
            <div class="p-12 h-full plate">
                <div class="icon-svg-large mb-5 text-center">{{ icon('twitter', 'fontawesome|brands') }}</div>
                <h4 class="text-2xl">{{ entry.txt_twitter_heading|raw }}</h4>
                <div class="h-24 mb-10">
                    {{ entry.txt_twitter_p|raw }}
                </div>
                <a class="button" href="https://twitter.com/_flextype">{{ entry.txt_twitter_button|raw }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
