{% extends 'views/templates/partials/base.html' %}
{% block content %}
    {% include 'views/templates/flextype/partials/nav.html' %}

    <!-- introducing section -->
    <div class="container relative mx-auto mb-20">
        <div class="pt-32">
            <div class="text-center w-full px-20">
                <h1 class="uppercase text-center text-2xl lg:text-6xl lg:m-0" style="letter-spacing: 4px;">Modern Open Source Flat Files Content Management System.</h1>
            </div>
        </div>
    </div>
    <!-- /introducing section -->

    <!-- features section -->
    <div class="text-center pt-20">
        <div class="container relative mx-auto">
            <h3 class="uppercase text-xl lg:text-5xl">Features</h3>
            <p class="text-xl lg:text-2xl">Flextype provides faster, more productive way<br> for you to build and manage content for any kind of projects.</p>

            <div class="flex content-center flex-wrap mt-12">
                <div class="w-full lg:w-1/3 p-8">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('rocket', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Fast</h4>
                    <p>
                        Flextype is super fast content management system because of its simple elegance architecture and built-in smart cache.
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('gears', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Flexible</h4>
                    <p>
                        Building this content management system, we focused on simplicity and flexibility. To achieve this, we implemented a simple but powerful API's.
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('font', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Easy Editing</h4>
                    <p>
                        With Flextype you are free to use any of your favorite content editor to write content.
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('network-wired', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Built-in REST API</h4>
                    <p>
                        Flextype REST API with compact JSON payloads gives you full programmatic control over your content management system.
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('list', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Dynamic Content Types</h4>
                    <p>
                        The flat-file nature of Flextype lets you define unlimited custom fields for any of your entries.
                    </p>
                </div>

                <div class="w-full lg:w-1/3 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('code-branch', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Version Control</h4>
                    <p>
                        Flextype is a file-based content management system, you can version control all content with GIT or any other Version Control System.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /features section -->

    <!-- no limits section -->
    <div class="text-center">
        <div class="container mx-auto pt-20 pb-20">
            <h3 class="uppercase text-xl lg:text-5xl">Use Cases</h3>
            <p class="text-xl lg:text-2xl lg:px-20">Use Flextype for any project you want.</p>

            <div class="flex content-center flex-wrap mt-12">
                <div class="w-full lg:w-3/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('desktop', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Websites</h4>
                    <p>
                        Business sites, Landing pages, Personal site, Portfolios, Product sites, Blogs, Web Apps
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('mobile-button', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Native Apps</h4>
                    <p>
                        iOS, Android, Windows, Kai, Lineage, Fire, Flyme, Sailfish, Tizen, Remix.
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('square', 'fontawesome|regular') }}</div>
                    <h4 class="text-lg lg:text-2xl">Kiosks</h4>
                    <p>
                        Kiosks, Billboards, Digital Signage
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('person-running', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Wearables</h4>
                    <p>
                        Smartwatch Apps, Activity Trackers
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('lightbulb', 'fontawesome|regular') }}</div>
                    <h4 class="text-lg lg:text-2xl">IoY Devices</h4>
                    <p>
                        IoY Devices
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('gamepad', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">Game Data</h4>
                    <p>
                        Mobile Games, VR, DLC
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('compass', 'fontawesome|regular') }}</div>
                    <h4 class="text-lg lg:text-2xl">SaaS Platforms</h4>
                    <p>
                        CRM, Productivity Tools, & Commerce
                    </p>
                </div>

                <div class="w-full lg:w-3/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('cart-shopping', 'fontawesome|solid') }}</div>
                    <h4 class="text-lg lg:text-2xl">E-Commerce</h4>
                    <p>
                        E-Commerce
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /no limits section -->

    <!-- community section -->
    <div class="text-center">
        <div class="container mx-auto pt-20 pb-20">
            <h3 class="uppercase text-xl lg:text-5xl">Community</h3>
            <p class="text-xl lg:text-2xl lg:px-20">Flextype is open source, community driven project,
and maintained by community!</p>

            <div class="flex content-center flex-wrap mt-12">
                <div class="w-full lg:w-6/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('github', 'fontawesome|brands') }}</div>
                    <h4 class="text-lg lg:text-2xl">Github</h4>
                    <div class=" h-40">
                        You may use <a href="https://github.com/flextype/flextype/discussions">GitHub Discussions</a> to start discussion about core, plugins and projects development or If you want to report a bug, you can use the <a href="https://github.com/flextype/flextype/issues">GitHub Issues.</a>
                    </div>
                    <a class="pl-6 pr-6 pt-2 pb-2 button dark:border-slate-500" href="https://github.com/flextype">Contribute</a>
                </div>

                <div class="w-full lg:w-6/12 p-6">
                    <div class="icon-svg-large mb-5 text-center">{{ icon('twitter', 'fontawesome|brands') }}</div>
                    <h4 class="text-lg lg:text-2xl">Twitter</h4>
                    <div class="h-40">
                        <a href="https://twitter.com/_flextype">Follow on Twitter</a> to get real-time news regarding the development and all events we are attending.
                    </div>
                    <a class="pl-6 pr-6 pt-2 pb-2 button dark:border-slate-500" href="https://twitter.com/_flextype">Follow on Twitter</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /community section -->
{% endblock %}
