<div class="flex justify-around bg-white dark:bg-slate-800 border mt-10 border-slate-900 mx-auto max-w-[300px] plate-shadow">
  <a class="w-full text-center m-0 p-0 px-3 py-2 font-bold text-xs uppercase no-underline border-r border-slate-900 {% if currentUriContains('/thermage') %}text-pink-500{% endif %}" href="{{ url() }}/glowyphp">Glowy PHP</a>
  <a class="m-0 p-0 px-3 py-2 border-slate-900 font-bold text-xs uppercase no-underline hidden lg:block" href="https://github.com/glowyphp">
    GITHUB
  </a>
  <a class="m-0 p-0 px-3 py-2 border-l border-slate-900 font-bold text-xs uppercase no-underline hidden lg:block" href="https://twitter.com/glowyphp">
    TWITTER
  </a>
</div>


