<div class="flex justify-around bg-white dark:bg-slate-800 border-2 rounded-lg mt-10 border-slate-900 dark:border-slate-500 mx-auto lg:max-w-[300px]">
  <a class="w-full text-center m-0 p-0 px-3 py-2 font-semibold text-xs uppercase no-underline border-r-2 border-slate-900 dark:border-slate-500 text-pink-500" href="{{ url() }}/glowyphp">Glowy PHP</a>
  <a class="m-0 p-0 px-3 py-2 border-slate-900 dark:border-slate-500 font-semibold text-xs uppercase no-underline hidden lg:block" href="https://github.com/glowyphp">
    GITHUB
  </a>
  <a class="m-0 p-0 px-3 py-2 border-l-2 border-slate-900 dark:border-slate-500 font-semibold text-xs uppercase no-underline hidden lg:block" href="https://twitter.com/glowyphp">
    TWITTER
  </a>
</div>


