<div class="flex justify-around bg-white dark:bg-slate-800 border-2 rounded-lg mt-14 border-slate-900 mx-auto max-w-[450px]">
  <a class="w-full text-center m-0 p-0 px-3 py-2 font-semibold text-xs uppercase no-underline border-r-2 border-slate-900 text-pink-500" href="{{ url() }}/thermage">Thermage</a>
  <a class="w-full text-center m-0 p-0 px-3 py-2 font-semibold text-xs uppercase no-underline border-r-2 border-slate-900 {% if currentUriContains('/thermage/documentation') %}text-pink-500{% endif %}" rel="nofollow" href="{{ url() }}/thermage/documentation">Documentation</a>
  <a class="m-0 p-0 px-3 py-2 border-slate-900 font-semibold text-xs uppercase no-underline hidden lg:block" href="https://github.com/thermage">
    GITHUB
  </a>
  <a class="m-0 p-0 px-3 py-2 border-l-2 border-slate-900 font-semibold text-xs uppercase no-underline hidden lg:block" href="https://twitter.com/_thermage">
    TWITTER
  </a>
</div>


