{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
    {% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/thermage/partials/nav.html' %}

    <!-- introducing section -->
    <div class="pt-0 pb-0 lg:flex lg:py-32">
        <div class="w-full px-20">
            <h1 class="uppercase text-center text-2xl lg:text-6xl lg:m-0" style="letter-spacing: 4px;">Totally RAD Terminal styling for PHP!</h1>
            <h2 class="mt-8 text-center text-xl opacity-70 lg:text-3xl lg:m-0 lg:mt-6">Fluent and incredible powerful, object-oriented interface for customizing CLI output text color, background, formatting, theming and more.</h2>
           
            <div class="mt-20 lg:flex lg:justify-center">
              <div class="mb-10 lg:mb-0 lg:mr-10">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-1" width="26" height="26" viewBox="0 0 26 26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#41ff00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <circle cx="12" cy="12" r="9" />
                  <circle cx="12" cy="12" r="1" />
                  <path d="M7 12a5 5 0 0 1 5 -5" />
                  <path d="M12 17a5 5 0 0 0 5 -5" />
                </svg> <span class="light-green">Install</span> <code class="py-2">composer require thermage/thermage</code>
              </div>
              <div>
                <a href="https://github.com/thermage/thermage"><svg xmlns="http://www.w3.org/2000/svg" class="inline mr-1" width="26" height="26" viewBox="0 0 26 26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#41ff00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                </svg> Give a star on GitHub!</a>
              </div>
            </div>
          </div>
    </div>
  </div>
  <!-- /introducing section -->

  <div class="mb-36 mt-36">
    <h3 class="uppercase text-2xl lg:text-6xl lg:m-0 text-center h-shadowed font-bold" style="letter-spacing: 4px; letter-spacing: 5px;">Features</h3>
    <div class="mt-36">
      <h4 class="text-lg lg:text-2xl flex items-center uppercase" style="border-bottom: 3px solid black; padding-bottom: 20px; margin-bottom: 40px; letter-spacing: 5px;">Consistent Colors</h4>
      <div class="w-full lg:flex">
        <div class="w-full lg:w-6/12">
          <div class="terminal">
            <div class="terminal-header">Terminal</div>
            <div class="terminal-body" style="min-height: auto;">
              <div class="terminal-command">$ php thermage.php</div>
              <div class="flex">
                <div>
                  <div class="py-3 px-4 bd-blue100"></div>
                  <div class="py-3 px-4 bd-blue200"></div>
                  <div class="py-3 px-4 bd-blue300"></div>
                  <div class="py-3 px-4 bd-blue400"></div>
                  <div class="py-3 px-4 bd-blue500"></div>
                  <div class="py-3 px-4 bd-blue600"></div>
                  <div class="py-3 px-4 bd-blue700"></div>
                  <div class="py-3 px-4 bd-blue800"></div>
                  <div class="py-3 px-4 bd-blue900"></div>
                </div>
                <div>
                  <div class="py-3 px-4 bd-indigo100"></div>
                  <div class="py-3 px-4 bd-indigo200"></div>
                  <div class="py-3 px-4 bd-indigo300"></div>
                  <div class="py-3 px-4 bd-indigo400"></div>
                  <div class="py-3 px-4 bd-indigo500"></div>
                  <div class="py-3 px-4 bd-indigo600"></div>
                  <div class="py-3 px-4 bd-indigo700"></div>
                  <div class="py-3 px-4 bd-indigo800"></div>
                  <div class="py-3 px-4 bd-indigo900"></div>
                </div>
                <div>
                  <div class="py-3 px-4 bd-purple100"></div>
                  <div class="py-3 px-4 bd-purple200"></div>
                  <div class="py-3 px-4 bd-purple300"></div>
                  <div class="py-3 px-4 bd-purple400"></div>
                  <div class="py-3 px-4 bd-purple500"></div>
                  <div class="py-3 px-4 bd-purple600"></div>
                  <div class="py-3 px-4 bd-purple700"></div>
                  <div class="py-3 px-4 bd-purple800"></div>
                  <div class="py-3 px-4 bd-purple900"></div>
                </div>
                <div>
                  <div class="py-3 px-4 bd-pink100"></div>
                  <div class="py-3 px-4 bd-pink200"></div>
                  <div class="py-3 px-4 bd-pink300"></div>
                  <div class="py-3 px-4 bd-pink400"></div>
                  <div class="py-3 px-4 bd-pink500"></div>
                  <div class="py-3 px-4 bd-pink600"></div>
                  <div class="py-3 px-4 bd-pink700"></div>
                  <div class="py-3 px-4 bd-pink800"></div>
                  <div class="py-3 px-4 bd-pink900"></div>
                </div>
                <div>
                  <div class="py-3 px-4 bd-red100"></div>
                  <div class="py-3 px-4 bd-red200"></div>
                  <div class="py-3 px-4 bd-red300"></div>
                  <div class="py-3 px-4 bd-red400"></div>
                  <div class="py-3 px-4 bd-red500"></div>
                  <div class="py-3 px-4 bd-red600"></div>
                  <div class="py-3 px-4 bd-red700"></div>
                  <div class="py-3 px-4 bd-red800"></div>
                  <div class="py-3 px-4 bd-red900"></div>
                </div>
                <div>
                  <div class="py-3 px-4 bd-orange100"></div>
                  <div class="py-3 px-4 bd-orange200"></div>
                  <div class="py-3 px-4 bd-orange300"></div>
                  <div class="py-3 px-4 bd-orange400"></div>
                  <div class="py-3 px-4 bd-orange500"></div>
                  <div class="py-3 px-4 bd-orange600"></div>
                  <div class="py-3 px-4 bd-orange700"></div>
                  <div class="py-3 px-4 bd-orange800"></div>
                  <div class="py-3 px-4 bd-orange900"></div>
                </div>
                <div>
                  <div class="py-3 px-4 bd-yellow100"></div>
                  <div class="py-3 px-4 bd-yellow200"></div>
                  <div class="py-3 px-4 bd-yellow300"></div>
                  <div class="py-3 px-4 bd-yellow400"></div>
                  <div class="py-3 px-4 bd-yellow500"></div>
                  <div class="py-3 px-4 bd-yellow600"></div>
                  <div class="py-3 px-4 bd-yellow700"></div>
                  <div class="py-3 px-4 bd-yellow800"></div>
                  <div class="py-3 px-4 bd-yellow900"></div>
                </div>
                <div>
                  <div class="py-3 px-4 bd-green100"></div>
                  <div class="py-3 px-4 bd-green200"></div>
                  <div class="py-3 px-4 bd-green300"></div>
                  <div class="py-3 px-4 bd-green400"></div>
                  <div class="py-3 px-4 bd-green500"></div>
                  <div class="py-3 px-4 bd-green600"></div>
                  <div class="py-3 px-4 bd-green700"></div>
                  <div class="py-3 px-4 bd-green800"></div>
                  <div class="py-3 px-4 bd-green900"></div>
                </div>
                <div>
                  <div class="py-3 px-4 bd-teal100"></div>
                  <div class="py-3 px-4 bd-teal200"></div>
                  <div class="py-3 px-4 bd-teal300"></div>
                  <div class="py-3 px-4 bd-teal400"></div>
                  <div class="py-3 px-4 bd-teal500"></div>
                  <div class="py-3 px-4 bd-teal600"></div>
                  <div class="py-3 px-4 bd-teal700"></div>
                  <div class="py-3 px-4 bd-teal800"></div>
                  <div class="py-3 px-4 bd-teal900"></div>
                </div>
                <div>
                  <div class="py-3 px-4 bd-cyan100"></div>
                  <div class="py-3 px-4 bd-cyan200"></div>
                  <div class="py-3 px-4 bd-cyan300"></div>
                  <div class="py-3 px-4 bd-cyan400"></div>
                  <div class="py-3 px-4 bd-cyan500"></div>
                  <div class="py-3 px-4 bd-cyan600"></div>
                  <div class="py-3 px-4 bd-cyan700"></div>  
                  <div class="py-3 px-4 bd-cyan800"></div>
                  <div class="py-3 px-4 bd-cyan900"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 text-xl pl-12">
          Thermage uses the <a href="https://en.wikipedia.org/wiki/ANSI_escape_code#3/4_bit">ANSI color scheme</a> which is widely used by terminals to ensure consistent colors in different terminal themes. If that’s not enough, Thermage can be used to access the full RGB color scheme (16+ million colors) in terminals that support TrueColor.
        </div>
      </div>
    </div>
    <div class="mt-36">
      <h4 class="text-lg lg:text-2xl flex items-center uppercase" style="border-bottom: 3px solid black; padding-bottom: 20px; margin-bottom: 40px; letter-spacing: 5px;">Component System</h4>
      <div class="lg:flex">
        <div class="w-full lg:w-6/12">
          <div class="components">
            <div style="padding-bottom: 20px;">
              <div class="tabs__nav">
                <a class="tabs__link tabs__link_active" href="#alert">Alert</a> <span class="opacity-20 px-2">/</span>
                <a class="tabs__link" href="#chart">Chart</a> <span class="opacity-20 px-2">/</span>
                <a class="tabs__link" href="#anchor">Anchor</a> <span class="opacity-20 px-2">/</span>
                <a class="tabs__link" href="#heading">Heading</a> <span class="opacity-20 px-2">/</span>
                <a class="tabs__link" href="#hr">Hr</a> <span class="opacity-20 px-2">/</span>
                <a href="https://digital.flextype.org/thermage/documentation/elements">and more ...</a>
              </div>
            </div>
            <div class="tabs__content">
              <div class="tabs__pane tabs__pane_show" id="alert">
                <div class="terminal">
                  <div class="terminal-header">Terminal</div>
                  <div class="terminal-body" style="min-height: 236px;">
                    <div class="terminal-command">$ php thermage.php</div>
                    <div class="el-alert el-alert--success">Stay RAD!</div>
                    <div class="el-alert el-alert--warning">Stay RAD!</div>
                    <div class="el-alert el-alert--info">Stay RAD!</div>
                    <div class="el-alert el-alert--danger">Stay RAD!</div>
                  </div>
                </div>
              </div>
              <div class="tabs__pane" id="chart">
                <div class="terminal">
                  <div class="terminal-header">Terminal</div>
                  <div class="terminal-body" style="min-height: 236px;">
                    <div class="terminal-command">$ php thermage.php</div>
                    <div class="el-div" style="width: 100%; height: 16px; color:#dc3545; text-align: left; display: flex;">Apple<span style="width: 119px; margin-left: 21px; margin-right: 9px; background:#dc3545;height: 16px;display: inline-block;"></span>17% (100)</div>
                    <div class="el-div" style="width: 100%; height: 16px; color:#fd7e14; text-align: left; display: flex;">Orange<span style="margin-left: 13.5px; margin-right: 9px; width: 322px; background:#fd7e14;height: 16px;display: inline-block;"></span>46% (270)</div>
                    <div class="el-div" style="width: 100%; height: 16px; color:#28a745; text-align: left; display: flex;">Lime<span style="width: 229px; margin-left: 28.5px; margin-right: 9px; background:#28a745;height: 16px;display: inline-block;"></span>37% (220)</div>
                    <br>
                    <div class="el-div" style="width: 100%; height: 16px; color:#dc3545; text-align: left; display: flex;"><span style="width: 119px; background:#dc3545; height: 16px; display: inline-block;"></span><span style="width: 322px; background:#fd7e14; height: 16px; display: inline-block;"></span><span style="width: 229px; background:#28a745; height: 16px; display: inline-block;"></span></div>
                    <br>
                    <span style="color: #dc3545; height: 16px; display: inline-block;">Apple 17% (100)</span>
                    <span style="color: #fd7e14; height: 16px; display: inline-block;">Orange 46% (270)</span>
                    <span style="color: #28a745; height: 16px; display: inline-block;">Lime 37% (220)</span>
                  </div>
                </div>
              </div>
              <div class="tabs__pane" id="anchor">
                <div class="terminal">
                  <div class="terminal-header">Terminal</div>
                  <div class="terminal-body" style="min-height: 236px;">
                    <div class="terminal-command">$ php thermage.php</div>
                    <div class="el-a"><a href="https://digital.flextype.org/thermage/">Thermage</a></div>
                  </div>
                </div>
              </div>
              <div class="tabs__pane" id="heading">
                <div class="terminal">
                  <div class="terminal-header">Terminal</div>
                  <div class="terminal-body" style="min-height: 236px;">
                    <div class="terminal-command">$ php thermage.php</div>
                    <div class="el-div" style="width: 100%; color: white; text-align: center;"><div style="border: 1px solid white!important;"><div style="margin: 1px; border: 1px solid white!important; padding-left: 10px; padding-top: 7px; padding-bottom:7px;">Stay RAD!</div></div></div>
                    <br>
                    <div class="el-div" style="width: 100%; color: white; text-align: center;"><div style="border: 2px solid white!important; padding-left: 10px; padding-top: 7px; padding-bottom:7px;">Stay RAD!</div></div>
                    <br>
                    <div class="el-div" style="width: 100%; color: white; text-align: center;"><div style="border: 1px solid white!important; padding-left: 10px; padding-top: 7px; padding-bottom:7px;">Stay RAD!</div></div>
                    <br>
                    <div class="el-div" style="width: 100%; color: white; text-align: center;"><div style="font-weight: bold;">Stay RAD!</div></div>
                    <br>
                    <div class="el-div" style="width: 100%; color: white; text-align: center;"><div style="opacity: .4;">Stay RAD!</div></div>
                  </div>
                </div>
              </div>
              <div class="tabs__pane" id="hr">
                <div class="terminal">
                  <div class="terminal-header">Terminal</div>
                  <div class="terminal-body" style="min-height: 236px;">
                    <div class="terminal-command">$ php thermage.php</div>
                    <div class="el-div" style="width: 100%; color: white;"><div style="border-bottom: 1px solid white; width: 100%; border-color: white!important;">&nbsp;</div></div>
                    <br>
                    <div class="el-div" style="width: 100%; color: white;"><div style="border-bottom: 1px solid red; width: 100%; border-color: white!important; position: relative;
                      height: 12px;"><div style="background: black;width: 90px;position: absolute;left: 17px;text-align: center;top: 3px;">Stay RAD!</div></div></div>
                    <br>
                    <div class="el-div" style="width: 100%; color: white;"><div style="border-bottom: 1px solid white; width: 100%; border-color: white!important; position: relative;
                      height: 12px;"><div style="background: black;width: 90px;position: absolute;right: 17px;text-align: center;top: 3px;">Stay RAD!</div></div></div>
                    <br>
                    <div class="el-div" style="width: 100%; color: white;"><div style="border-bottom: 1px solid red; width: 100%; border-color: white!important; position: relative;
                      height: 12px;"><div style="background: black;width: 90px;position: absolute;left: 41%;text-align: center;top: 3px;">Stay RAD!</div></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 text-xl pl-12">
          Thermage consists of built-in components, called <a href="{{ url() }}/documentation/elements">Elements</a>, which can be used individually or together to generate pretty console output.
        </div>
      </div>
    </div>

    <div class="mt-36">
      <h4 class="text-lg lg:text-2xl flex items-center uppercase" style="border-bottom: 3px solid black; padding-bottom: 20px; margin-bottom: 40px; letter-spacing: 5px;">Theming</h4>
      <div class="lg:flex">
        <div class="w-full lg:w-6/12">
          <div class="themes">
            <div style="padding-bottom: 20px;">
              <div class="tabs__nav">
                <a class="tabs__link tabs__link_active" href="#create-theme">Create theme</a> <span class="opacity-20 px-4">/</span>
                <a class="tabs__link" href="#set-theme">Set theme</a>
              </div>
            </div>
            <div class="tabs__content">
              <div class="tabs__pane tabs__pane_show" id="create-theme">
<pre>
<code class="language-php hljs php">&lt;?php

declare(strict_types=1);

use Thermage\Thermage;
use Thermage\Themes\Theme;
use Thermage\Themes\ThemeInterface;
use Atomastic\Arrays\Arrays as Collection;

use function arrays as collection;

final class RadTheme extends Theme implements ThemeInterface
{
  public function getThemeVariables(): Collection
  {
    return collection(['alert' => ['text-align' => 'right']]);
  }
}</code></pre>
              </div>
              <div class="tabs__pane" id="set-theme">
<pre>
<code class="language-php hljs php">&lt;?php

declare(strict_types=1);

use Thermage\Thermage;
use Thermage\Themes\RadTheme;

Thermage::setTheme(new RadTheme());</code></pre>
              </div>
            </div>
          </div>        
        </div>
        <div class="w-full lg:w-6/12 text-xl pl-12">
          Thermage provides ability to create and use custom themes to change the style of command line output with preconfigured themes variables.
        </div>
      </div>
    </div>

    <div class="mt-36">
      <h4 class="text-lg lg:text-2xl flex items-center uppercase" style="border-bottom: 3px solid black; padding-bottom: 20px; margin-bottom: 40px; letter-spacing: 5px;">Shortcodes</h4>
      <div class="lg:flex">
        <div class="w-full lg:w-6/12">
        

<pre>
<code class="hljs">[b]Bold text[/b] 
[i]Italic text[/i]
[u]Underilne text[/u]
[s]Strikethrough text[/s]
[color=red]Red text[/color]
[bg=red]Red background[/bg]

and more :)</code></pre>
        </div>
        <div class="w-full lg:w-5/12 text-xl pl-12">
          Thermage provides incredible simple and powerful <a href="{{ url() }}/documentation/parsers/shortcodes">Shortcodes API</a> to create and use shortcodes markup for customizing CLI output text color, background, formatting.
        </div>
      </div>
    </div>

    <div class="mt-36">
      <h4 class="text-lg lg:text-2xl flex items-center uppercase" style="border-bottom: 3px solid black; padding-bottom: 20px; margin-bottom: 40px; letter-spacing: 5px;">Framework Agnostic</h4>
      <div class="lg:flex">

        <div class="w-full lg:w-6/12">
            
          <div class="frameworks">
            <div style="padding-bottom: 20px;">
              <div class="tabs__nav">
                <a class="tabs__link tabs__link_active" href="#vanilla">Vanilla PHP</a> <span class="opacity-20 px-2">/</span>
                <a class="tabs__link" href="#symfony">Symfony</a> <span class="opacity-20 px-2">/</span>
                <a class="tabs__link" href="#laravel">Laravel</a> <span class="opacity-20 px-2">/</span>
                <a class="tabs__link" href="#yii">Yii</a> <span class="opacity-20 px-2">/</span>
                <a class="tabs__link" href="#cakephp">CakePHP</a> <span class="opacity-20 px-2">/</span>
                <a class="tabs__link" href="#codeigniter">CodeIgniter</a>
              </div>
            </div>
            <div class="tabs__content">
              <div class="tabs__pane tabs__pane_show" id="vanilla">
<pre>
<code class="language-php hljs php">&lt;?php

use function Thermage\div;
use function Thermage\render;

// ... 

render(
    div('Stay RAD!')
      ->pl5()
      ->colorPink100()
      ->bgPink700()
      ->bold()
      ->italic()
);</code></pre>
              </div>
              <div class="tabs__pane" id="symfony">
<pre><code class="language-php hljs php">&lt;?php

use function Thermage\div;
use function Thermage\renderToString;

// ... 

protected function execute(InputInterface $input, 
                           OutputInterface $output): int
{
  $render = renderToString(div('Stay RAD!')
                            ->pl5()
                            ->colorPink100()
                            ->bgPink700()
                            ->bold()
                            ->italic());

  $output->write($render);
      
  // ...
}</code></pre>
              </div>
              <div class="tabs__pane" id="laravel">
<pre><code class="language-php hljs php">&lt;?php

use function Thermage\div;
use function Thermage\renderToString;

// ... 

public function handle()
{
  $render = renderToString(div('Stay RAD!')
                            ->pl5()
                            ->colorPink100()
                            ->bgPink700()
                            ->bold()
                            ->italic());
                            
  $this->output->writeln($render);
      
  // ...
}</code></pre>
              </div>
              <div class="tabs__pane" id="yii">
<pre><code class="language-php hljs php">&lt;?php

use function Thermage\div;
use function Thermage\renderToString;

// ... 

public function actionName()
{
  $render = renderToString(div('Stay RAD!')
                            ->pl5()
                            ->colorPink100()
                            ->bgPink700()
                            ->bold()
                            ->italic());
                            
  $this->stdout($render);
      
  // ...
}</code></pre>
              </div>
              <div class="tabs__pane" id="cakephp">
<pre><code class="language-php hljs php">&lt;?php

use function Thermage\div;
use function Thermage\renderToString;

// ... 

public function execute(Arguments $args, ConsoleIo $io)
{
  $render = renderToString(div('Stay RAD!')
                            ->pl5()
                            ->colorPink100()
                            ->bgPink700()
                            ->bold()
                            ->italic());
                            
  $io->output($render);
      
  // ...
}</code></pre>
              </div>
              <div class="tabs__pane" id="codeigniter">
<pre><code class="language-php hljs php">&lt;?php

use function Thermage\div;
use function Thermage\renderToString;

// ... 

public function run(array $params)
{
  $render = renderToString(div('Stay RAD!')
                            ->pl5()
                            ->colorPink100()
                            ->bgPink700()
                            ->bold()
                            ->italic());
                            
  CLI::write($render);
  // ...
}</code></pre>
              </div>
            </div>
          </div>
  
        </div>
        <div class="w-full lg:w-6/12 text-xl pl-12">
          Thermage can be used with any Modern PHP Framework: Symfony, Laravel, Yii, CakePHP, CodeIgniter, Phalcon and others.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
