<div class="flex justify-around bg-white dark:bg-slate-800 border mt-10 border-black mx-auto max-w-[480px] lg:max-w-[680px]" style="box-shadow: 3px 3px 0 black">
  <span class="w-full text-center m-0 p-0 px-3 py-2 font-bold text-xs uppercase no-underline border-r border-black text-pink-500">Flextype</span>
  <a class="w-full text-center m-0 p-0 px-3 py-2 font-bold text-xs uppercase no-underline border-r border-black" rel="nofollow" href="{{ url() }}/flextype/downloads">Downloads</a>
  <a class="w-full text-center m-0 p-0 px-3 py-2 font-bold text-xs uppercase no-underline  " rel="nofollow" href="{{ url() }}/flextype/documentation">Documentation</a>
  <a class="m-0 p-0 px-3 py-2 border-l border-black font-bold text-xs uppercase no-underline hidden lg:block" href="{{ url() }}/about">
    COMMUNITY
  </a>
</div>