<div class="flex justify-around bg-white dark:bg-slate-800 border mt-10 border-black mx-auto max-w-[400px]" style="box-shadow: 3px 3px 0 black">
  <a class="w-full text-center m-0 p-0 px-3 py-2 font-bold text-xs uppercase no-underline border-r border-black" rel="nofollow" href="{{ url() }}/flextype/downloads">Downloads</a>
  <a class="w-full text-center m-0 p-0 px-3 py-2 font-bold text-xs uppercase no-underline  " rel="nofollow" href="{{ url() }}/flextype/documentation">Documentation</a>
  <a class="w-full text-center sm-0 p-0 px-3 py-2 font-bold text-xs uppercase no-underline border-l border-black" rel="nofollow" href="{{ url() }}/flextype/community">Community</a>
</div>