<div class="bg-white dark:bg-slate-800 border-b border-l border-r border-black container mx-auto max-w-[1200px]" style="box-shadow: 3px 3px 0 black">
    <div class="py-2">
      <a class="font-bold pl-6 pr-3 text-xs uppercase" rel="nofollow" href="{{ url() }}/flextype/downloads">Downloads</a>
      <a class="font-bold pr-3 text-xs uppercase" rel="nofollow" href="{{ url() }}/flextype/documentation">Documentation</a>
      <a class="font-bold pr-3 text-xs uppercase" rel="nofollow" href="{{ url() }}/flextype/community">Community</a>
    </div>
</div>