{% set tagsCloud = [] %}
{% for post in blog.copy()
                    .where('visibility', 'nin', ['draft', 'hidden'])
                    .sortBy('published_at', 'DESC')
                    .limit(blogPostsLimit) %}
    {% set tags = post.tags|replace({' ': ''}) %}
    {% set tagsCloud = tagsCloud|merge(tags|split(',')) %}
{% endfor %}

{% if tagsCloud|length > 0 %}
    {% for tag in tagsCloud|reduce((unique, item) => item in unique ? unique : unique|merge([item]), [])  %}
        <a href="{{ url() }}/blog?tag={{ tag|trim }}" class="inline-block no-underline px-2 bg-slate-100 dark:bg-slate-900 rounded text-sm py-1 my-1">{{ tag|trim }}</a>
    {% endfor %}
{% endif %}
