{% extends 'views/templates/partials/base.html' %}

{% block content %}
    {% include 'views/templates/glowyphp/partials/nav.html' %}

    {% set uri1 = id|split('/').1 %}
    {% set uri2 = id|split('/').2 %}
    {% set uri3 = id|split('/').3 %}

    {% set gettingStartedCacheID = strings('gettingStartedCacheID' ~ 'glowyphp/' ~ uri1 ~ '/getting-started').hash().toString() %}
    {% if cache().has(gettingStartedCacheID) %}
        {% set gettingStarted = cache().get(gettingStartedCacheID) %}
    {% else %}
        {% set gettingStarted = entries().fetch('glowyphp/' ~ uri1 ~ '/getting-started', {'collection': true}).exceptFromCollection(['content']).sortByAsc('title') %}
        {% do cache().set(gettingStartedCacheID, gettingStarted) %}
    {% endif %}

    {% set methodsCacheID = strings('methodsCacheID' ~ '/' ~ uri1 ~ '/methods').hash().toString() %}
    {% if cache().has(methodsCacheID) %}
        {% set methods = cache().get(methodsCacheID) %}
    {% else %}
        {% set methods = entries().fetch('glowyphp/' ~ uri1 ~ '/methods', {'collection': true}).exceptFromCollection(['content']).sortByAsc('title') %}
        {% do cache().set(methodsCacheID, methods) %}
    {% endif %}

    {% if uri1 == 'filesystem' %}
        {% set methods = collection(methods).groupBy('class') %}
    {% endif %}

    <div class="text-center mt-24 mb-24">
        <h1 class="text-3xl lg:text-6xl mb-0 {% if uri3 == '' or uri2 == 'getting-started' %}uppercase{% endif %}"><a class="no-underline" href="{{ url() }}/{{ id }}/">{{ title }}</a></h1>
        <div class="text-sm lg:text-lg">
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/glowyphp/">PACKAGES</a></span>
            {% if uri2 == 'methods' %}
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline uppercase" href="{{ url() }}/glowyphp/{{ uri1 }}/">{{ entries().fetch('glowyphp/' ~ uri1).title }}</a></span>
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline uppercase" href="{{ url() }}/glowyphp/{{ uri1 }}/{{ uri2 }}/">METHODS</a></span>
            {% endif %}
            {% if uri2 == 'getting-started' %}
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline uppercase" href="{{ url() }}/glowyphp/{{ uri1 }}/">{{ entries().fetch('glowyphp/' ~ uri1).title }}</a></span>
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline uppercase" href="{{ url() }}/glowyphp/{{ uri1 }}/{{ uri2 }}/">GETTING STARTED</a></span>
            {% endif %}
        </div>
    </div>

    <div class="flex flex-wrap px-4 lg:px-0">
        <div class="w-full lg:w-9/12">
            {{ content|shortcodes|markdown|raw }}
            {% if (uri3 == '' and uri2 == 'methods') or (uri1 and uri2 == '' and uri3 == '')%}
                {% if uri1 == 'filesystem' %}
                    <h4>Filesystem</h4>
                    <div class="table">
                        <table>
                            <thead>
                                <tr class="hidden lg:table-row">
                                    <th class="flex lg:table-cell">Method</th>
                                    <th class="flex lg:table-cell">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in methods['filesystem'] %}
                                <tr>
                                    <td><a href="{{ url() }}/{{ item.id }}/">{{ item.title }}</a></td>
                                    <td>{{ item.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <h4>File</h4>
                    <div class="table">
                        <table>
                            <thead>
                                <tr class="hidden lg:table-row">
                                    <th>Method</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in methods['file'] %}
                                <tr>
                                    <td class="flex lg:table-cell"><a href="{{ url() }}/{{ item.id }}/">{{ item.title }}</a></td>
                                    <td class="flex lg:table-cell">{{ item.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <h4>Directory</h4>
                    <div class="table">
                        <table>
                            <thead>
                                <tr class="hidden lg:table-row">
                                    <th>Method</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in methods['directory'] %}
                                <tr>
                                    <td class="flex lg:table-cell"><a href="{{ url() }}/{{ item.id }}/">{{ item.title }}</a></td>
                                    <td class="flex lg:table-cell">{{ item.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="table">
                        <table>
                            <thead>
                                <tr class="hidden lg:table-row">
                                    <th>Method</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in methods %}
                                <tr>
                                    <td class="flex lg:table-cell"><a href="{{ url() }}/{{ item.id }}/">{{ item.title }}</a></td>
                                    <td class="flex lg:table-cell">{{ item.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="pt-4 pb-4 lg:pl-10 lg:w-3/12">
            <div class="lg:sticky lg:top-0 lg:overflow-y-auto lg:max-h-screen">
                <h4 class="mb-2">Getting Started</h4>
                <ul>
                    {% for item in gettingStarted %}
                    <li class="mb-2"><a href="{{ url() }}/{{ item.id }}/">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
                <h4 class="mt-4 mb-2">Methods</h4>
                {% if uri1 == 'filesystem' %}
                    <h5 class="mb-2 font-bold">Filesystem</h5>
                    <ul>
                        {% for item in methods['filesystem'] %}
                        <li class="mb-2 list-none ml-0">
                            <a href="{{ url() }}/{{ item.id }}/" class="block">
                                {{ item.title }}
                                <small class="opacity-75 block base-color">
                                    {{ item.description }}
                                </small>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <h5 class="mb-2 font-bold">File</h5>
                    <ul>
                        {% for item in methods['file'] %}
                        <li class="mb-2 list-none ml-0">
                            <a href="{{ url() }}/{{ item.id }}/" class="block">
                                {{ item.title }}
                                <small class="opacity-75 block base-color">
                                    {{ item.description }}
                                </small>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <h5 class="mb-2 font-bold">Directory</h5>
                    <ul>
                        {% for item in methods['directory'] %}
                        <li class="mb-2 list-none ml-0">
                            <a href="{{ url() }}/{{ item.id }}/" class="block">
                                {{ item.title }}
                                <small class="opacity-75 block base-color">
                                    {{ item.description }}
                                </small>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul>
                        {% for item in methods %}
                        <li class="mb-2 list-none ml-0">
                            <a href="{{ url() }}/{{ item.id }}/" class="block">
                                {{ item.title }}
                                <small class="opacity-75 block base-color">
                                    {{ item.description }}
                                </small>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
