<div class="flex justify-around bg-white dark:bg-slate-800 border rounded-lg mt-14 border-slate-900 mx-auto max-w-[450px] dark:border-slate-500 overflow-hidden">
  <a class="nav-link {{ strings(id).contains('thermage') ? 'active' : '' }} w-full text-center m-0 p-0 px-3 py-2 dark:border-slate-500 font-semibold text-xs uppercase no-underline border-r border-slate-900" href="{{ url() }}/thermage/">Thermage</a>
  <a class="nav-link w-full text-center m-0 p-0 px-3 py-2 dark:border-slate-500 font-semibold text-xs uppercase no-underline border-r border-slate-900" rel="nofollow" href="{{ url() }}/thermage/documentation/">Documentation</a>
  <a class="nav-link m-0 p-0 px-3 py-2 border-slate-900 dark:border-slate-500 font-semibold text-xs uppercase no-underline hidden lg:block" href="https://github.com/thermage">
    GITHUB
  </a>
  <a class="nav-link m-0 p-0 px-3 py-2 border-l border-slate-900 dark:border-slate-500 font-semibold text-xs uppercase no-underline hidden lg:block" href="https://twitter.com/_thermage">
    TWITTER
  </a>
</div>


