{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
    <div class="p-6 bg-slate-50 dark:bg-slate-800 mb-4 border-2 border-black">
        <div class="flex">
            <div class="w-1/12">
                <img src="https://avatars.githubusercontent.com/u/477114?v=4" alt="" class="rounded-full border-2 border-black w-20">
            </div>
            <div class="w-11/12 pl-8">
                I'm Sergey Romaneko, a developer with a strong will for learning and researching new technologies and architectural solutions. I like creating and using specialized tools for making development processes as efficient as possible. I have the experience to work with big projects and big development teams.
            </div>
        </div>
    </div>
    <div class="flex mb-4">
        <div class="w-6/12 p-6 bg-slate-50 dark:bg-slate-800 border-2 border-black">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b-2 border-black">WORK EXPERIENCES (2005 - PRESENT)</h3>
            <div class="flex">
                Full Stack Web Development and IT Consulting. Open-Source Development. Software Architect and Project Management. Frontend and backend automation. Frontend and backend architecture development. Projects documentation development. Projects localization. Localization Testing. API Testing. Unit Testing. Manual Testing. Peromance Testing. UI/UX Testing. Web interfaces standardisation. Modular development. Emails development.
            </div>
        </div>
        <div class="w-6/12 p-6 bg-slate-50 dark:bg-slate-800 ml-2 border-2 border-black">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b-2 border-black flex items-center">
                OPENSOURCE CONTRIBUTIONS
                <a rel="nofollow" href="https://github.com/Awilum" class="ml-2">
                    [GITHUB]
                </a>
            </h3>
            <p class="mb-0"><strong>Lines of code added:</strong> <span class="github-lines-added"></span></p>
            <p class="mb-0"><strong>Lines of code deleted:</strong> <span class="github-lines-deleted"></span></p>
            <p class="mb-0"><strong>Repositories created:</strong> 188</p> 
            <!-- user:Awilum user:flextype user:flextype-components user:glowyphp user:glowyjs user:flextype-plugins user:flextype-themes user:thermage user:faker-javascript user:dart-packages user:wp-extends archived:false -->
            <p class="mb-0"><strong>Repositories contributed:</strong> <span class="github-repositories-contributed-to"></span></p>
            <p class="mb-0"><strong>Commits:</strong> <span class="github-commits"></span></p>
        </div>
    </div>
    <div class="flex">
        <div class="w-6/12 p-6 bg-yellow-50 dark:bg-yellow-500 dark:text-slate-800 mr-2 border-2 border-black">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b-2 border-black flex items-center">
                DONATE
            </h3>
            <h4 class="m-0 p-0 font-bold">Monthly donations</h4>
            <ul>
                <li>
                    <a target="_blank" href="https://patreon.com/awilum">Patreon</a>
                </li>
            </ul>
            <h4 class="m-0 p-0 mt-3 font-bold">One-time donations</h4>
            <ul>
                <li>
                    <a target="_blank" href="https://paypal.me/awilum">Paypal</a>
                </li>
                <li>
                    <a target="_blank" href="https://ko-fi.com/awilum">Ko-Fi</a>
                </li>
                <li>
                    Sberbank <span class="text-sm">(5469 1300 1053 3949)</span>
                </li>
            </ul>
        </div>
        <div class="w-6/12 p-6 bg-slate-50 dark:bg-slate-800 ml-2 mr-2 border-2 border-black">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b-2 border-black flex items-center">
                CONTACT
            </h3>
            <p class="mb-0"><strong>Email:</strong> hello&commat;awilum.dev</p>
        </div>
        <div class="w-6/12 p-6 bg-slate-50 dark:bg-slate-800 ml-2 border-2 border-black">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b-2 border-black flex items-center">
                FOLLOW
            </h3>
            <p class="mb-0"><strong>Github:</strong> <a target="_blank" href="https://github.com/Awilum">Awilum</a></p>
            <p class="mb-0"><strong>Twitter:</strong> <a target="_blank" href="https://twitter.com/_awilum">_awilum</a></p>
        </div>
    </div>
{% endblock %}
