{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
<div class="blog-post px-6 lg:px-28">
    <h2 class="text-5xl mt-10 mb-10 font-bold">{{ entry.title }}</h2>
    {{ entry.content|shortcode|markdown|raw}}
    <div class="pt-6 mt-6 border-t-2 border-black">
        <strong>Date:</strong> {{ entry.published_at|date(flextype.registry.get('flextype.date_display_format')) }}
        <strong class="ml-2">Tags:</strong>
        {% if entry.tags is not empty %}
            {% for tag in entry.tags|split(',') %}
            <a href="{{ url() }}/blog?tag={{ tag|trim }}">{{ tag|trim }}</a>{% if loop.last %}{% else %},{% endif %}
            {% endfor %}
        {% endif %}
        <strong class="ml-2">Views:</strong>
        {{ pageViewCounter() }}
    </div>
</div>
{% endblock %}
