{% extends "themes/" ~ flextype.registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
<div class="container mx-auto bg-white text-black">
    <div class="text-xs lg:text-lg mt-24 mb-24 px-4 lg:px-24 font-bold"> 
        <pre>
            /----------------------------------------\
            | We're sorry but the page you are       |
            | looking for doesn't appear to exist!   |
            \----------------------------------------/
              \
               \
                  /  \~~~/  \
                 (    ..     )----,
                  \__     __/      \
                    )|  /)         |\
                     | /\  /___\   / ^
                      "-|__|   |__|        
        </pre>
    </div>
</div>
{% endblock %}
