{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}

    {% set blogID = flextype.registry.get('themes.dev.settings.blog_id') %}
    {% set blogCollectionCacheID = strings('blog-collection-' ~ blogID).hash().toString() %}
    {% if flextype.cache.has(blogCollectionCacheID) %}
        {% set blog = flextype.cache.get(blogCollectionCacheID) %}
    {% else %}
        {% set blog = flextype.entries.fetch(blogID, {'collection': true}).exceptFromCollection(['content']) %}
        {% do flextype.cache.set(blogCollectionCacheID, blog) %}
    {% endif %}

    {% set blogPostData = flextype.entries.fetch(blogID) %}
    {% if blogPostData.posts_limit == 0 %}{% set blogPostsLimit = 5 %}{% else %}{% set blogPostsLimit = blogPostData.posts_limit %}{% endif %}
    {% if blogPostData.posts_recent_limit == 0 %}{% set blogPostsRecentLimit = 5 %}{% else %}{% set blogPostsRecentLimit = blogPostData.posts_recent_limit %}{% endif %}

    <div class="p-6 bg-white dark:bg-slate-800 mb-4 border border-slate-900 mt-4 plate-shadow">
        <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
            Hi there, I'm Sergey Romanenko
            <a href="{{ url() }}/about" class="ml-2">
                [ABOUT]
            </a>
        </h3>
        <div class="flex">
            <div class="lg:w-1/12 hidden lg:block">
                <img src="https://avatars.githubusercontent.com/u/477114?v=4" alt="" class="rounded-full border-2 border-slate-900 w-20">
            </div>
            <div class="w-full lg:w-11/12 lg:pl-8">
                I'm a developer with a strong will for learning and researching new technologies and architectural solutions. I like creating and using specialized tools for making development processes as efficient as possible. I have the experience to work with big projects and big development teams.
            </div>
        </div>
    </div>
    <div class="p-6 bg-white dark:bg-slate-800 mb-4 border border-slate-900 mt-4 plate-shadow">
        <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
            PROJECTS
        </h3>
        <div class="lg:flex">
            <div class="w-full lg:w-3/12 bg-white border border-slate-900 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold  pt-0 mb-0 mt-0 p-0">
                    <a href="{{ url() }}/thermage">Thermage</a>
                </h3>
                <div class="text-xs border-b pb-2 italic mb-4 border-slate-900 flex items-center">
                    php
                </div>
                <div>
                    Fluent and incredibly powerful object-oriented interface for customizing CLI output text color, background, formatting, theming and more.
                </div>
            </div>
            <div class="w-full lg:w-3/12 lg:ml-4 bg-white border border-slate-900 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold  pt-0 mb-0 mt-0 p-0">
                    <a href="{{ url() }}/flextype">Flextype</a>
                </h3>
                <div class="text-xs border-b pb-2 italic mb-4 border-slate-900 flex items-center">
                    php
                </div>
                <div>
                    Open-source self-hosted Hybrid Content Management System with the freedom of a Headless CMS with the full functionality of a Traditional CMS.                
                </div>
            </div>
            <div class="w-full lg:w-3/12 lg:ml-4 bg-white border border-slate-900 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold  pt-0 mb-0 mt-0 p-0">
                    <a href="{{ url() }}/glowyphp">Glowy PHP</a>
                </h3>
                <div class="text-xs border-b pb-2 italic mb-4 border-slate-900 flex items-center">
                    php
                </div>
                <div>
                    Set of decoupled and reusable PHP building blocks for kickass Web Applications.
                </div>
            </div>
            <div class="w-full lg:w-3/12 lg:ml-4 bg-white border border-slate-900 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold  pt-0 mb-0 mt-0 p-0">
                    <a href="https://github.com/faker-javascript">Faker JavaScript</a>
                </h3>
                <div class="text-xs border-b pb-2 italic mb-4 border-slate-900 flex items-center">
                    javascript, typescript
                </div>
                <div>
                    A set of decoupled and reusable packages that generates fake data for you.
                </div>
            </div>
        </div>
    </div>
    <div class="lg:flex">
        <div class="w-full lg:w-6/12 p-6 bg-white dark:bg-slate-800 lg:mr-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                RECENT POSTS
                <a rel="nofollow" href="{{ url() }}/blog" class="ml-2">
                    [BLOG]
                </a>
            </h3>
            {% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/blog/recent-posts.html' %}    
        </div>
        <div class="w-full lg:w-6/12 p-6 bg-white dark:bg-slate-800 mt-4 lg:mt-0 lg:ml-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                OPENSOURCE CONTRIBUTIONS
                <a rel="nofollow" href="https://github.com/Awilum" class="ml-2">
                    [GITHUB]
                </a>
            </h3>
            <p class="mb-0"><strong>Lines of code added:</strong> <span class="github-lines-added"></span></p>
            <p class="mb-0"><strong>Lines of code deleted:</strong> <span class="github-lines-deleted"></span></p>
            <p class="mb-0"><strong>Repositories created:</strong> 188</p> 
            <!-- user:Awilum user:flextype user:flextype-components user:glowyphp user:glowyjs user:flextype-plugins user:flextype-themes user:thermage user:faker-javascript user:dart-packages user:wp-extends archived:false -->
            <p class="mb-0"><strong>Repositories contributed:</strong> <span class="github-repositories-contributed-to"></span></p>
            <p class="mb-0"><strong>Commits:</strong> <span class="github-commits"></span></p>
        </div>
    </div>
{% endblock %}
