{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}

    {% set blogID = flextype.registry.get('themes.dev.settings.blog_id') %}
    {% set blogCollectionCacheID = strings('blog-collection-' ~ blogID).hash().toString() %}
    {% if flextype.cache.has(blogCollectionCacheID) %}
        {% set blog = flextype.cache.get(blogCollectionCacheID) %}
    {% else %}
        {% set blog = flextype.entries.fetch(blogID, {'collection': true}).exceptFromCollection(['content']) %}
        {% do flextype.cache.set(blogCollectionCacheID, blog) %}
    {% endif %}

    {% set blogPostData = flextype.entries.fetch(blogID) %}
    {% if blogPostData.posts_limit == 0 %}{% set blogPostsLimit = 5 %}{% else %}{% set blogPostsLimit = blogPostData.posts_limit %}{% endif %}
    {% if blogPostData.posts_recent_limit == 0 %}{% set blogPostsRecentLimit = 5 %}{% else %}{% set blogPostsRecentLimit = blogPostData.posts_recent_limit %}{% endif %}
    {% if blogPostData.posts_random_limit == 0 %}{% set blogPostsRandomLimit = 5 %}{% else %}{% set blogPostsRandomLimit = blogPostData.posts_random_limit %}{% endif %}

    {% set blogPostsLength = blog.copy().where('visibility', 'nin', ['draft', 'hidden']).count() %}
    {% set blogPostsPages = (blogPostsLength / blogPostsLimit)|round(0, 'ceil') %}

    {% if page < 1 %}
        {% set page = 1 %}
    {% elseif page > blogPostsPages %}
        {% set page = blogPostsPages %}
    {% endif %}

    {% set blogPostsOffset = (page - 1) * blogPostsLimit %}
    {% if blogPostsOffset < 0 %}{% set blogPostsOffset = 0 %}{% endif %}

    {% set blogPosts = blog.copy()
                            .where('visibility', 'nin', ['draft', 'hidden'])
                            .sortBy('published_at', 'DESC')
                            .slice(blogPostsOffset, blogPostsLimit) %}

    <div class="p-6 bg-white dark:bg-slate-800 mb-4 border border-black mt-4" style="box-shadow: 3px 3px 0 black">
        <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-black flex items-center">
            Hi there, I'm Sergey Romanenko
            <a href="{{ url() }}/about" class="ml-2">
                [ABOUT]
            </a>
        </h3>
        <div class="flex">
            <div class="w-1/12">
                <img src="https://avatars.githubusercontent.com/u/477114?v=4" alt="" class="rounded-full border-2 border-black w-20">
            </div>
            <div class="w-11/12 pl-8">
                I'm a developer with a strong will for learning and researching new technologies and architectural solutions. I like creating and using specialized tools for making development processes as efficient as possible. I have the experience to work with big projects and big development teams.
            </div>
        </div>
    </div>
    <div class="lg:flex">
        <div class="w-full lg:w-6/12 p-6 bg-white dark:bg-slate-800 lg:mr-2 border border-black" style="box-shadow: 3px 3px 0 black">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-black flex items-center">
                RECENT POSTS
                <a rel="nofollow" href="{{ url() }}/blog" class="ml-2">
                    [BLOG]
                </a>
            </h3>
            {% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/blog/recent-posts.html' %}    
        </div>
        <div class="w-full lg:w-6/12 p-6 bg-white dark:bg-slate-800 mt-4 lg:mt-0 lg:ml-2 border border-black" style="box-shadow: 3px 3px 0 black">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-black flex items-center">
                OPENSOURCE CONTRIBUTIONS
                <a rel="nofollow" href="https://github.com/Awilum" class="ml-2">
                    [GITHUB]
                </a>
            </h3>
            <p class="mb-0"><strong>Lines of code added:</strong> <span class="github-lines-added"></span></p>
            <p class="mb-0"><strong>Lines of code deleted:</strong> <span class="github-lines-deleted"></span></p>
            <p class="mb-0"><strong>Repositories created:</strong> 188</p> 
            <!-- user:Awilum user:flextype user:flextype-components user:glowyphp user:glowyjs user:flextype-plugins user:flextype-themes user:thermage user:faker-javascript user:dart-packages user:wp-extends archived:false -->
            <p class="mb-0"><strong>Repositories contributed:</strong> <span class="github-repositories-contributed-to"></span></p>
            <p class="mb-0"><strong>Commits:</strong> <span class="github-commits"></span></p>
        </div>
    </div>
{% endblock %}
