{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
    <div class="flex">
        <div class="w-6/12 p-6 bg-slate-50 dark:bg-slate-800 mr-2 border-2 border-black">
            <div class="font-bold pb-4 pt-0 mb-4 p-0 border-b border-black flex items-center">
                <h3 class="m-0 p-0 w-1/2">
                    Thermage
                </h3>
                <div class="w-1/2 text-right">
                    <span class="opacity-70 px-2">OPEN-SOURCE</span>
                </div>
            </div>
            <p>
                Thermage provides a fluent and incredibly powerful object-oriented interface for customizing CLI output text color, background, formatting, theming and more.
            </p>
            <p>
                <strong>Technologies used</strong><br>
                PHP
            </p>
            <p>
                <strong>License</strong><br>
                MIT
            </p>
            <p>
                <strong>Links</strong><br>
                <a href="https://thermage.awilum.dev/" class="mr-1">DOCUMENTAION</a>
                <a href="https://github.com/thermage" class="mr-1">GITHUB</a>
                <a href="https://twitter.com/_thermage">TWITTER</a>
            </p>
        </div>
        <div class="w-6/12 p-6 bg-slate-50 dark:bg-slate-800 ml-2 border-2 border-black">
            <div class="font-bold pb-4 pt-0 mb-4 p-0 border-b border-black flex items-center">
                <h3 class="m-0 p-0 w-1/2">
                    Glowy PHP
                </h3>
                <div class="w-1/2 text-right">
                    <span class="opacity-70 px-2">OPEN-SOURCE</span>
                </div>
            </div>
            <p>
                Set of decoupled and reusable PHP building blocks for kickass Web Applications.
            </p>
            <p>
                <strong>Technologies used</strong><br>
                PHP
            </p>
            <p>
                <strong>License</strong><br>
                MIT
            </p>
            <p>
                <strong>Links</strong><br>
                <a href="https://awilum.dev/glowyphp" class="mr-1">DOCUMENTAION</a>
                <a href="https://github.com/glowyphp" class="mr-1">GITHUB</a>
                <a href="https://twitter.com/_glowyphp">TWITTER</a>
            </p>
        </div>
    </div>
    <div class="flex mt-4">
        <div class="w-6/12 p-6 bg-slate-50 dark:bg-slate-800 mr-2 border-2 border-black">
            <div class="font-bold pb-4 pt-0 mb-4 p-0 border-b border-black flex items-center">
                <h3 class="m-0 p-0 w-1/2">
                    Faker JavaScript
                </h3>
                <div class="w-1/2 text-right">
                    <span class="opacity-70 px-2">OPEN-SOURCE</span>
                </div>
            </div>
            <p>
                A set of decoupled and reusable packages that generates fake data for you.
            </p>
            <p>
                <strong>Technologies used</strong><br>
                JAVASCRIPT
            </p>
            <p>
                <strong>License</strong><br>
                MIT
            </p>
            <p>
                <strong>Links</strong><br>
                <a href="https://github.com/fakerjs" class="mr-1">GITHUB</a>
                <a href="https://twitter.com/_fakerjs">TWITTER</a>
            </p>
        </div>
        <div class="w-6/12 p-6 bg-slate-50 dark:bg-slate-800 ml-2 border-2 border-black">
            <div class="font-bold pb-4 pt-0 mb-4 p-0 border-b border-black flex items-center">
                <h3 class="m-0 p-0 w-1/2">
                    Flextype
                </h3>
                <div class="w-1/2 text-right">
                    <span class="opacity-70 px-2">OPEN-SOURCE</span>
                </div>
            </div>
            <p>
                Open-source self-hosted Hybrid Content Management System with the freedom of a Headless CMS with the full functionality of a Traditional CMS.
            </p>
            <p>
                <strong>Technologies used</strong><br>
                PHP, HTML, CSS, JAVASCRIPT
            </p>
            <p>
                <strong>License</strong><br>
                MIT
            </p>
            <p>
                <strong>Links</strong><br>
                <a href="https://flextype.org" class="mr-1">WEBSITE</a>
                <a href="https://github.com/flextype" class="mr-1">GITHUB</a>
                <a href="https://twitter.com/getflextype">TWITTER</a>
            </p>
        </div>
    </div>
    <div class="text-center">
        <h3 class="text-xl font-bold pb-10 pt-16 mb-4 mt-0 p-0">
            <a href="https://github.com/search?q=user%3AAwilum+user%3Aflextype+user%3Aflextype-components+user%3Aglowyphp+user%3Aglowyjs+user%3Aflextype-plugins+user%3Aflextype-themes+user%3Athermage+user%3Afaker-javascript+user%3Adart-packages+user%3Awp-extends+archived%3Afalse">VIEW ALL PROJECTS ON THE GITHUB</a>
        </h3>
    </div>
{% endblock %}
