{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
<h1 class="text-6xl p-0 mt-16 mb-16 font-bold text-center uppercase">{{ entry.title }}</h1>
<div class="lg:flex mt-4">
    <div class="w-full lg:w-8/12">
        {#
        <div class="p-6 mb-4 bg-white dark:bg-slate-800 lg:mr-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                Gold Sponsor
            </h3>
        </div>
        <div class="p-6 mb-4 bg-white dark:bg-slate-800 lg:mr-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                Silver Sponsor
            </h3>
        </div>
        <div class="p-6 mb-4 bg-white dark:bg-slate-800 lg:mr-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                Bronze Sponsor
            </h3>
        </div>
        <div class="p-6 mb-4 bg-white dark:bg-slate-800 lg:mr-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                Generous Backer
            </h3>
        </div>
        <div class="p-6 mb-4 bg-white dark:bg-slate-800 lg:mr-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                Backers
            </h3>
        </div>
        <div class="p-6 mb-4 bg-white dark:bg-slate-800 lg:mr-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                Coffee Supporter
            </h3>
            <div>
                <ul>
                    <li>Anastasiia G.</li>
                </ul>
            </div>
        </div>
        #}
        <div class="p-6 mb-4 bg-white dark:bg-slate-800 lg:mr-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                One-time donations
            </h3>
            <div>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Viktoriya Kozyr</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Izabela Sokołowska</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Anastasiia G.</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Joseph Newton</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Dylan Carlson</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Paul Masterson</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Heinz Wüthrich</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Monstra Pro</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Izabela Sokołowska</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">William Marshall</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">dextra</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">RomanArt</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Andrew Latham</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Moon Ant Radio</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">ZenLabs</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">AlxBuk</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Hmelex</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">newbie</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">dok2d</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">KANekT</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">kromverk</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">AlexGor</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">uptraff</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Knobloh Sergey (zaqwe)</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Илья Земсков (vimruler)</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Гриценко Екатерина</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">sergeyterr</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">vanchelo</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">La Grande</span>
            </div>
        </div>
        <div class="p-6 mb-4 bg-white dark:bg-slate-800 lg:mr-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                Previous monthly supporters
            </h3>
            <div>
                <ul class="m-0 p-0">
                    <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Jeremy Monroe</span>
                    <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">web-easy</span>
                    <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:text-slate-200 text-sm py-1 my-1 mr-2">Arseni Khramenkin</span>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full lg:w-4/12">
        <div class="p-6 bg-yellow-200 dark:bg-slate-800 mb-4 lg:ml-2 border border-slate-900 plate-shadow">
            Developing open-source software is a passion of mine. It requires a significant amount of time to create new features, fix bugs, write documentation, helps the community, etc. If you benefit from any of my open-source work and would like to help contribute, here are all the ways you can do it.        
        </div>
        <div class="p-6 bg-yellow-200 dark:bg-slate-800 mb-4 lg:ml-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b uppercase border-slate-900 flex items-center">
                One-time donations
            </h3>
            <div>
                <ul class="m-0 p-0">
                    <li>
                        <p>
                            <div class="font-bold">QIWI</div>
                            <a target="_blank" href="https://qiwi.com/n/AWILUM" class="text-sm">AWILUM</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <div class="font-bold">Yoomoney</div>
                            <a target="_blank" href="https://yoomoney.ru/to/4100117657353439" class="text-sm">4100117657353439</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <div class="font-bold">Ethereum</div>
                            <span class="text-sm" style="overflow-wrap: break-word;">0x040E73f39473f5966Df716Af89357E14A52fA578</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <div class="font-bold">TON</div>
                            <a href="ton://transfer/EQBDh21QetE3Ysk7WG40iRK3rA-XUqCzSYy_-LF1ABRrgF4I" class="text-sm">EQBDh21QetE3Ysk7WG40iRK3rA-XUqCzSYy_-LF1ABRrgF4I</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <div class="font-bold">Lumens</div>
                            <span class="text-sm" style="overflow-wrap: break-word;">GBM7O7F6VO2C7MWFIJDFKHNVQSRGDDXQ2NKDTIZYGMWJ3IFQS2ZVINWD</span>
                        </p>
                    </li>
                </ul>
                <div class="text-xs italic pt-4 mt-4 p-0 border-t border-slate-900">
                    Add a message with a link to your website in the payment comment.
                </div>
            </div>
        </div>
        {#
        <div class="p-6 bg-yellow-200 dark:bg-slate-800 lg:ml-2 border border-slate-900 plate-shadow">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b uppercase border-slate-900 flex items-center">
                Monthly donations <a target="_blank" class="ml-2" href="https://patreon.com/awilum">[Patreon]</a>
            </h3>
            <div class="bg-yellow-50 dark:bg-slate-700 p-4 border border-slate-900">
                <h3 class="text-lg font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                    Coffee Supporter $1
                </h3>
                <div>
                    <p>Your name will be put in <b>Coffee Supporters</b> section at:</p>
                    <ul class="m-0">
                        <li><a href="{{ url() }}/sponsors">awilum.dev/sponsors</a></li>
                    </ul>
                </div>
            </div>
            <div class="bg-yellow-50 border border-slate-900 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                    Backer $3
                </h3>
                <div>
                    <p>Your name will be put in <b>Backer</b> section at:</p>
                    <ul class="m-0">
                        <li><a href="{{ url() }}/sponsors">awilum.dev/sponsors</a></li>
                    </ul>
                </div>
            </div>
            <div class="bg-yellow-50 border border-slate-900 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                    Generous Backer $3
                </h3>
                <div>
                    <p>Your name will be put in <b>Generous Backer</b> section at:</p>
                    <ul class="m-0">
                        <li><a href="{{ url() }}/sponsors">awilum.dev/sponsors</a></li>
                    </ul>
                </div>
            </div>
            <div class="bg-yellow-50 border border-slate-900 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                    Bronze Sponsor $10
                </h3>
                <div>
                    <p>Your name or company logo (<b>SMALL</b>) will be put in <b>Bronze Sponsor</b> section at:</p>
                    <ul class="m-0">
                        <li><a href="{{ url() }}">awilum.dev</a></li>
                        <li><a href="{{ url() }}/sponsors">awilum.dev/sponsors</a></li>
                    </ul>
                </div>
            </div>
            <div class="bg-yellow-50 border border-slate-900 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                    Silver Sponsor $20
                </h3>
                <div>
                    <p>Your name or company logo (<b>MEDIUM</b>) will be put in <b>Silver Sponsor</b> section at:</p>
                    <ul class="m-0">
                        <li><a href="{{ url() }}">awilum.dev</a></li>
                        <li><a href="{{ url() }}/sponsors">awilum.dev/sponsors</a></li>
                    </ul>
                </div>
            </div>
            <div class="bg-yellow-50 border border-slate-900 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 flex items-center">
                    Gold Sponsor $30
                </h3>
                <div>
                    <p>Your name or company logo (<b>BIG</b>) will be put in <b>Gold Sponsor</b> section at:</p>
                    <ul class="m-0">
                        <li><a href="{{ url() }}">awilum.dev</a></li>
                        <li><a href="{{ url() }}/sponsors">awilum.dev/sponsors</a></li>
                    </ul>
                </div>
            </div>
        </div>
        #}
    </div>
</div>
{% endblock %}
