{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
    <div class="flex mb-4">
        <a href="#" class="w-3/12 p-6 py-2 bg-slate-50 dark:bg-slate-800 mb-4 border-2 border-black text-center text-base font-bold m-0" style="text-decoration: none;">YAML TO JSON</a>
        <a href="#" class="w-3/12 p-6 py-2 ml-3 bg-slate-50 dark:bg-slate-800 mb-4 border-2 border-black text-center text-base font-bold m-0" style="text-decoration: none;">JSON TO YAML</a>
    </div>
{% endblock %}
