{% extends 'views/templates/partials/base.html' %}

{% block content %}
    <h1 class="text-5xl lg:text-9xl p-0 mt-16 mb-16 font-bold text-center uppercase">{{ title }}</h1>
    <div class="p-6 bg-white dark:bg-slate-800 mb-8 mt-4 border rounded-lg border-slate-900 dark:border-slate-500">
        <div class="flex">
            <div class="lg:w-1/12 hidden lg:block">
                <img src="https://avatars.githubusercontent.com/u/477114?v=4" alt="" class="rounded-full border border-slate-900 dark:border-slate-500 w-20">
            </div>
            <div class="w-full lg:w-11/12 lg:pl-8">
                I'm Sergey Romanenko, a Digital Nomad with a strong will for learning and researching new technologies and architectural solutions. I like creating and using specialized tools for making development processes as efficient as possible. I have the experience to work with big projects and big development teams.
            </div>
        </div>
        <div class="flex border-t mt-4 border-slate-900 pt-6 dark:border-slate-500">
            <div class="w-full text-center font-bold text-xs">
                <a href="https://github.com/Awilum" target="_blank" class="mr-2">GITHUB</a>
                <a href="https://twitter.com/_awilum" target="_blank" class="mr-2">TWITTER</a>
                <a href="https://www.linkedin.com/in/sergey-romanenko/" target="_blank" class="mr-2">LINKEDIN</a>
                <a href="https://www.instagram.com/sergey.romanenko/" target="_blank" class="mr-2">INSTAGRAM</a>
                <a href="https://awilum.t.me" target="_blank" class="mr-2">TELEGRAM</a>
                <a href="https://keybase.io/awilum" target="_blank" class="mr-2">KEYBASE</a>
                <a href="awilum&commat;msn.com" class="mr-2" onmouseover="this.href='mailto:awilum@msn.com'">EMAIL</a>
                <a href="https://phpc.social/@awilum" target="_blank">MASTODON</a>
            </div>
        </div>
    </div>
    <div class="flex mb-8">
        <div class="w-full p-6 bg-white dark:bg-slate-800 border rounded-lg border-slate-900 dark:border-slate-500">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b dark:border-slate-500 border-slate-900">WORK EXPERIENCES (2005 - PRESENT)</h3>
            <div>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Full Stack Web Development and IT Consulting</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Open-Source Development</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Software Architect and Project Management</span> 
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Frontend and backend automation</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Frontend and backend architecture development</span> 
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Projects documentation development</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Projects localization</span> 
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Localization Testing</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Manual and automation REST API testing</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">PHP/JS Unit Testing</span> 
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Manual testing and test creation documentation</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Peromance Testing</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">UI/UX Testing</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Web interfaces standardisation</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Modular development</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Emails development</span>
            </div>
        </div>
    </div>
    <div class="flex mb-8">
        <div class="w-full p-6 bg-white dark:bg-slate-800 border rounded-lg border-slate-900 dark:border-slate-500">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b dark:border-slate-500 border-slate-900">PROGRAMMING, MARKUP AND PREPROCESSING LANGUAGES (2005 - PRESENT)</h3>
            <div>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Basic</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Object Pascal</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Delphi</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">C/C++</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">PHP</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">JavaScript</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">TypeScript</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Dart</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">HTML</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">CSS</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">LESS</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">SASS</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">XML</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">YAML</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">NEON</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">MARKDOWN</span>
            </div>
        </div>
    </div>
    <div class="flex mb-8">
        <div class="w-full p-6 bg-white dark:bg-slate-800 border rounded-lg border-slate-900 dark:border-slate-500">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 dark:border-slate-500">TECHNOLOGIES AND LIBRARIES (2005 - PRESENT)</h3>
            <div>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">GRUNT</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">GULP</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">SVN</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">MERCURIAL</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">GIT</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Symfony</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Bootstrap</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Tailwind</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Slim PHP</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">CodeIgniter</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Laravel</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">REST</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Postman</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Composer</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">NPM</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">WordPress</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">PunBB</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">PHPUnit</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Pest</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Ava</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Jest</span>
                <span class="inline-block no-underline px-2 text-slate-900 border border-slate-900 dark:bg-slate-800 dark:border-slate-500 dark:text-slate-200 text-sm py-1 my-1 mr-2">Node.js</span>
            </div>
        </div>
    </div>
    <div class="flex mb-8">
        <div class="w-full p-6 bg-white dark:bg-slate-800 border rounded-lg border-slate-900 dark:border-slate-500">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 dark:border-slate-500 flex items-center">
                OPENSOURCE CONTRIBUTIONS
                <a rel="nofollow" href="https://github.com/Awilum" class="ml-2">
                    [GITHUB]
                </a>
            </h3>
            <div class="lg:flex">
                <div class="flex w-full lg:w-8/12 bg-white border border-slate-900 dark:bg-slate-700 dark:border-slate-500 p-4 mb-4 lg:mb-0 lg:mr-2">
                    <div class="flex self-center">
                        <img src="http://ghchart.rshah.org/333333/Awilum" alt="Awilum's Github chart" />
                    </div>
                </div>
                <div class="w-full lg:w-4/12 bg-white border border-slate-900 dark:bg-slate-700 dark:border-slate-500 p-4 lg:ml-2">
                    <img src="https://github-contribution-stats.vercel.app/api/?username=awilum" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
