{% extends 'views/templates/partials/base.html' %}

{% block content %}
    {% if slug == 'mastercss' %}
    <a href="https://css.master.co" rel="nofollow">
        <themed-picture data-catalyst-inline="true" data-catalyst=""><picture>
            <img alt="Master CSS" src="https://user-images.githubusercontent.com/33840671/201703010-77bf2373-9899-40cc-98f5-30cf9b546941.svg" width="100%" style="visibility:visible;max-width:100%;">
        </picture></themed-picture>
    </a>
    {% else %}
    <h1 class="text-5xl lg:text-9xl p-0 mt-16 mb-2 text-center uppercase font-bold">{{ title }}</h1>
    {% endif %}

    <h2 class="text-center m-0 p-0 pl-6 pr-6 lg:pl-40 lg:pr-40 mt-4 text-xl font-normal">
        CHEETSHEET
    </h2>
    {% if profile %}
    <div class="text-center opacity-70">
        <a href="{{ profile.website }}">website</a> |
        <a href="{{ profile.documentation }}">documentation</a> | 
        <a href="{{ profile.repository }} ">repository</a>
    </div>
    {% endif %}
    <div class="mt-20">
        {{ content|markdown|shortcodes|raw }}
    </div>
{% endblock %}
