{% extends 'views/templates/partials/base.html' %}

{% block content %}
<h1 class="text-5xl lg:text-9xl p-0 mt-16 mb-16 font-bold text-center uppercase">{{ title }}</h1>

<div class="lg:flex justify-center">
    <div class="w-full lg:w-6/12 bg-white border border-slate-900 dark:border-slate-500 dark:bg-slate-700 p-4">
        <h3 class="text-lg font-bold  pt-0 mb-0 mt-0 p-0">
            <a href="{{ url() }}/masterblocks">Mastering the Fundamentals of JavaScript</a>
        </h3>
        <div class="text-xs border-b pb-2 italic mb-4 border-slate-900 dark:border-slate-500 flex items-center">
            javascript
        </div>
        <div>
            This course is designed to teach you the basic concepts and skills needed to master JavaScript programming. Through lectures and hands-on exercises, you'll learn the basic syntax and semantics of JavaScript. You will learn how to work with various data types, functions, control structures and more advanced topics.
        </div>
    </div>
</div>

<div class="lg:flex justify-center">
    <div class="w-full lg:w-6/12 bg-white border border-slate-900 dark:border-slate-500 dark:bg-slate-700 mt-10 p-4">
        <h3 class="text-lg font-bold  pt-0 mb-0 mt-0 p-0">
            <a href="{{ url() }}/masterblocks">Mastering the Fundamentals of SQL</a>
        </h3>
        <div class="text-xs border-b pb-2 italic mb-4 border-slate-900 dark:border-slate-500 flex items-center">
            sql
        </div>
        <div>
            SQL is a Structured Query Language designed specifically for managing and manipulating data stored in relational databases. In this course, you will learn the key features of SQL and how to work with SQL Databases.
        </div>
    </div>
</div>
{% endblock %}
