{% extends 'views/templates/partials/base.html' %}

{% block content %}
<h1 class="text-5xl lg:text-9xl p-0 mt-16 mb-16 font-bold text-center uppercase">{{ title }}</h1>

<div class="lg:grid lg:grid-cols-2 lg:gap-5 justify-center">
    <div class="bg-white rounded-lg border border-slate-900  p-4">
        <div class="flex border-b pb-2 mb-4 border-slate-900">
            <div class="mr-3">
                <img class="border border border-slate-900" style="height: 48px;" src="https://stepik.org/media/cache/images/courses/133228/cover_Bo9mYzo/d2bf12d1ba46f2f9fe0501d6a9c469df.jpg" alt="">
            </div>
            <div>
                <h3 class="text-lg font-bold pt-0 mb-0 mt-0 p-0" style="line-height: 28px;">
                    <a target="_blank" href="https://stepik.org/a/133228">JavaScript Basic Level</a>
                </h3>
                <div class="text-xs italic flex items-center">
                    javascript
                </div>
            </div>
        </div>
        <div>
            This course is designed to teach you the basic concepts and skills needed to master JavaScript programming. Through lectures and hands-on exercises, you'll learn the basic syntax and semantics of JavaScript. You will learn how to work with various data types, functions, control structures and more advanced topics.
        </div>
    </div>

    <div class="bg-white rounded-lg border border-slate-900  mt-5 lg:mt-0 p-4">
        <div class="flex border-b pb-2 mb-4 border-slate-900">
            <div class="mr-3">
                <img class="border border border-slate-900" style="height: 48px;" src="https://stepik.org/media/cache/images/courses/132225/cover_gdx1oZX/3dc7ebac812690ff5000bf64b014b79f.jpg" alt="">
            </div>
            <div>
                <h3 class="text-lg font-bold pt-0 mb-0 mt-0 p-0" style="line-height: 28px;">
                    <a target="_blank" href="https://stepik.org/a/132225">SQL Basic Level</a>
                </h3>
                <div class="text-xs italic flex items-center">
                    sql
                </div>
            </div>
        </div>
        <div>
            SQL is a Structured Query Language designed specifically for managing and manipulating data stored in relational databases. In this course, you will learn the key features of SQL and how to work with SQL Databases.
        </div>
    </div>

    <div class="bg-white rounded-lg border border-slate-900  mt-5 lg:mt-0 p-4">
        <div class="flex border-b pb-2 mb-4 border-slate-900">
            <div class="mr-3">
                <img class="border border border-slate-900" style="height: 48px;" src="https://stepik.org/media/cache/images/courses/132225/cover_gdx1oZX/3dc7ebac812690ff5000bf64b014b79f.jpg" alt="">
            </div>
            <div>
                <h3 class="text-lg font-bold pt-0 mb-0 mt-0 p-0" style="line-height: 28px;">
                    <a target="_blank" href="https://stepik.org/a/133728">SQL Базовый уровень</a>
                </h3>
                <div class="text-xs italic flex items-center">
                    sql
                </div>
            </div>
        </div>
        <div>
            SQL — это язык структурированных запросов, разработанный специально для управления и манипулирования данными, хранящимися в реляционных базах данных. В этом курсе вы изучите синтаксис, основные функции, конструкции языка SQL и узнаете, как работать с SQL базами данных.
        </div>
    </div>
</div>

{% endblock %}
