{% extends 'views/templates/partials/base.html' %}

{% block content %}
<h1 class="text-5xl lg:text-9xl p-0 mt-16 mb-16 font-bold text-center uppercase">{{ title }}</h1>

<div class="lg:grid lg:grid-cols-2 lg:gap-5 justify-center">
   
    <div class="bg-white rounded-lg border border-slate-900  mt-5 lg:mt-0 p-4">
        <div class="flex border-b pb-2 mb-4 border-slate-900">
            <div class="mr-3">
                <img class="border border border-slate-900" style="height: 48px;" src="https://stepik.org/media/cache/images/courses/132225/cover_gdx1oZX/3dc7ebac812690ff5000bf64b014b79f.jpg" alt="">
            </div>
            <div>
                <h3 class="text-lg font-bold pt-0 mb-0 mt-0 p-0" style="line-height: 28px;">
                    <a target="_blank" href="https://stepik.org/a/134850">JavaScript Базовый уровень</a>
                </h3>
                <div class="text-xs italic flex items-center">
                    javascript
                </div>
            </div>
        </div>
        <div>
            Самый полный курс по JavaScript для начинающих программистов! Этот курс идеально подходит для начинающих программистов, которые хотят изучить основы языка программирования JavaScript. В ходе курса вы узнаете основные концепции языка, включая переменные, типы данных, условные конструкции, циклы, функции и объекты. Курс также включает в себя большое количество практических заданий, которые помогут закрепить полученные знания.
        </div>
    </div>

    <div class="bg-white rounded-lg border border-slate-900  mt-5 lg:mt-0 p-4">
        <div class="flex border-b pb-2 mb-4 border-slate-900">
            <div class="mr-3">
                <img class="border border border-slate-900" style="height: 48px;" src="https://stepik.org/media/cache/images/courses/172576/cover_7ZYjeiu/c58e42bd8e192c700a633543a61935f5.png" alt="">
            </div>
            <div>
                <h3 class="text-lg font-bold pt-0 mb-0 mt-0 p-0" style="line-height: 28px;">
                    <a target="_blank" href="https://stepik.org/a/172576">JavaScript Тренажер</a>
                </h3>
                <div class="text-xs italic flex items-center">
                    javascript
                </div>
            </div>
        </div>
        <div>
            Курс состоит из практических задач, которые помогут вам улучшить свои навыки в работе с переменными, типами данных, условными конструкциями, циклами, функциями и объектами в JavaScript. В ходе выполнения задач вы научитесь применять свои знания на практике, улучшите навыки работы с JavaScript и укрепите уверенность в своих возможностях.
        </div>
    </div>

    <div class="bg-white rounded-lg border border-slate-900  mt-5 lg:mt-0 p-4">
        <div class="flex border-b pb-2 mb-4 border-slate-900">
            <div class="mr-3">
                <img class="border border border-slate-900" style="height: 48px;" src="https://stepik.org/media/cache/images/courses/174887/cover_qBS5P4j/ab867c6b55b65ab6fa0a4224943b6c8a.png" alt="PHP Тренажер">
            </div>
            <div>
                <h3 class="text-lg font-bold pt-0 mb-0 mt-0 p-0" style="line-height: 28px;">
                    <a target="_blank" href="https://stepik.org/a/174887">PHP Тренажер</a>
                </h3>
                <div class="text-xs italic flex items-center">
                    php
                </div>
            </div>
        </div>
        <div>
            Курс состоит из практических задач, которые помогут вам освоить основы программирования на языке PHP. Вы научитесь работать с переменными, типами данных, условными конструкциями, циклами, функциями в PHP. В ходе выполнения задач вы улучшите навыки программирования, научитесь решать практические задачи и целом укрепите уверенность в своих навыках программирования на языке PHP.
        </div>
    </div>

    <div class="bg-white rounded-lg border border-slate-900  mt-5 lg:mt-0 p-4">
        <div class="flex border-b pb-2 mb-4 border-slate-900">
            <div class="mr-3">
                <img class="border border border-slate-900" style="height: 48px;" src="https://stepik.org/media/cache/images/courses/173184/cover_qiHkBp0/bac69f511a5ed48cd6a728f49d6f5822.png" alt="Python Тренажер">
            </div>
            <div>
                <h3 class="text-lg font-bold pt-0 mb-0 mt-0 p-0" style="line-height: 28px;">
                    <a target="_blank" href="https://stepik.org/a/173184">Python Тренажер</a>
                </h3>
                <div class="text-xs italic flex items-center">
                    python
                </div>
            </div>
        </div>
        <div>
            Курс состоит из практических задач, которые помогут вам освоить основы программирования на языке Python. Вы научитесь работать с переменными, типами данных, условными конструкциями, циклами, функциями в Python. В ходе выполнения задач вы улучшите навыки программирования, научитесь решать практические задачи и целом укрепите уверенность в своих навыках программирования на языке Python.
        </div>
    </div>

    <div class="bg-white rounded-lg border border-slate-900  mt-5 lg:mt-0 p-4">
        <div class="flex border-b pb-2 mb-4 border-slate-900">
            <div class="mr-3">
                <img class="border border border-slate-900" style="height: 48px;" src="https://stepik.org/media/cache/images/courses/132225/cover_gdx1oZX/3dc7ebac812690ff5000bf64b014b79f.jpg" alt="">
            </div>
            <div>
                <h3 class="text-lg font-bold pt-0 mb-0 mt-0 p-0" style="line-height: 28px;">
                    <a target="_blank" href="https://stepik.org/a/133728">SQL Базовый уровень</a>
                </h3>
                <div class="text-xs italic flex items-center">
                    sql
                </div>
            </div>
        </div>
        <div>
            SQL — это язык структурированных запросов, разработанный специально для управления и манипулирования данными, хранящимися в реляционных базах данных. В этом курсе вы изучите синтаксис, основные функции, конструкции языка SQL и узнаете, как работать с SQL базами данных.
        </div>
    </div>
</div>

{% endblock %}
