{% extends 'views/templates/partials/base.html' %}

{% block content %}

    {% set blogID = 'blog' %}
    {% set blogCollectionCacheID = strings('blog-collection-' ~ blogID).hash().toString() %}
    {% if cache().has(blogCollectionCacheID) %}
        {% set blog = cache().get(blogCollectionCacheID) %}
    {% else %}
        {% set blog = entries().fetch(blogID, {'collection': true}).exceptFromCollection(['content']) %}
        {% do cache().set(blogCollectionCacheID, blog) %}
    {% endif %}

    {% set blogPostData = entries().fetch(blogID) %}
    {% if blogPostData.posts_limit == 0 %}{% set blogPostsLimit = 5 %}{% else %}{% set blogPostsLimit = blogPostData.posts_limit %}{% endif %}
    {% if blogPostData.posts_recent_limit == 0 %}{% set blogPostsRecentLimit = 5 %}{% else %}{% set blogPostsRecentLimit = blogPostData.posts_recent_limit %}{% endif %}

    <div class="p-6 bg-white dark:bg-slate-800 mb-4 rounded-lg border  border-slate-900 dark:border-slate-500 mt-8">
        <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 dark:border-slate-500 flex items-center">
            Hi there, I'm Sergey Romanenko
            <a href="{{ url() }}/about/" class="ml-2">
                [ABOUT]
            </a>
        </h3>
        <div class="flex flex-col lg:flex-row">
            <div class="w-full flex justify-center lg:w-1/12 lg:block mx-auto mb-4 lg:m-0">
                <img src="https://avatars.githubusercontent.com/u/477114?v=4" alt="" class="rounded-full border border-slate-900 w-20">
            </div>
            <div class="w-full lg:w-11/12 lg:pl-8">
                I'm a Digital Nomad with an insatiable curiosity for learning and researching the latest technologies and architectural solutions. I thrive on creating and utilizing specialized tools to optimize development processes and maximize efficiency. I have experience with big projects and big development teams. 
            </div>
        </div>
    </div>
    <div class="p-6 bg-white dark:bg-slate-800 mb-4 border rounded-lg border-slate-900 mt-8 dark:border-slate-500">
        <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 dark:border-slate-500 flex items-center">
            PROJECTS
            <a href="{{ url() }}/projects/" class="ml-2">
                [VIEW ALL]
            </a>
        </h3>
        <div class="lg:flex">
            <div class="w-full lg:w-3/12 bg-white border border-slate-900 dark:border-slate-500 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold  pt-0 mb-0 mt-0 p-0">
                    <a href="{{ url() }}/thermage/">Thermage</a>
                </h3>
                <div class="text-xs border-b pb-2 italic mb-4 border-slate-900 dark:border-slate-500 flex items-center">
                    php
                </div>
                <div>
                    Fluent and incredibly powerful object-oriented interface for customizing CLI output text color, background, formatting, theming and more.
                </div>
            </div>
            <div class="w-full lg:w-3/12 lg:ml-4 bg-white border border-slate-900 dark:border-slate-500 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold  pt-0 mb-0 mt-0 p-0">
                    <a href="{{ url() }}/flextype/">Flextype</a>
                </h3>
                <div class="text-xs border-b pb-2 italic mb-4 border-slate-900 dark:border-slate-500 flex items-center">
                    php
                </div>
                <div>
                    Open-source self-hosted Hybrid Content Management System with the freedom of a Headless CMS with the full functionality of a Traditional CMS.                
                </div>
            </div>
            <div class="w-full lg:w-3/12 lg:ml-4 bg-white border border-slate-900 dark:border-slate-500 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold  pt-0 mb-0 mt-0 p-0">
                    <a href="{{ url() }}/glowyphp/">Glowy PHP</a>
                </h3>
                <div class="text-xs border-b pb-2 italic mb-4 dark:border-slate-500 border-slate-900 flex items-center">
                    php
                </div>
                <div>
                    Set of decoupled and reusable PHP building blocks for kickass Web Applications.
                </div>
            </div>
            <div class="w-full lg:w-3/12 lg:ml-4 bg-white border border-slate-900 dark:border-slate-500 dark:bg-slate-700 mt-4 p-4">
                <h3 class="text-lg font-bold pt-0 mb-0 mt-0 p-0">
                    <a target="_blank" href="https://github.com/faker-javascript">Faker JavaScript</a>
                </h3>
                <div class="text-xs border-b pb-2 italic mb-4 dark:border-slate-500 border-slate-900 flex items-center">
                    javascript, typescript
                </div>
                <div>
                    A set of decoupled and reusable packages that generates fake data for you.
                </div>
            </div>
        </div>
    </div>
    <div class="flex mt-8">
        <div class="w-full p-6 bg-white dark:bg-slate-800 dark:border-slate-500 border rounded-lg border-slate-900">
            <h3 class="text-xl font-bold pb-4 pt-0 mb-4 mt-0 p-0 border-b border-slate-900 dark:border-slate-500 flex items-center">
                OPENSOURCE CONTRIBUTIONS
                <a rel="nofollow" target="_blank" href="https://github.com/Awilum" class="ml-2">
                    [GITHUB]
                </a>
            </h3>
            <div class="lg:flex">
                <div class="flex w-full lg:w-8/12 bg-white border border-slate-900 dark:bg-slate-700 dark:border-slate-500 p-4 mb-4 lg:mb-0 lg:mr-2">
                    <div class="flex self-center">
                        <img src="http://ghchart.rshah.org/333333/Awilum" alt="Awilum's Github chart" />
                    </div>
                </div>
                <div class="w-full lg:w-4/12 bg-white border border-slate-900 dark:bg-slate-700 dark:border-slate-500 p-4 lg:ml-2">
                    <img src="https://github-contribution-stats.vercel.app/api/?username=awilum" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
