{% extends "themes/" ~ flextype.registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
<div class="container mx-auto bg-white text-black pb-24">
    <h1 class="uppercase text-center text-3xl lg:text-6xl m-0 pt-24 pb-24">
        {{ entry.title|raw }}
    </h1>
    {% if entry.description %}
    <h2 class="text-center m-0 pb-24 pl-6 pr-6 lg:pl-40 lg:pr-40 text-xl font-normal">
        {{ entry.description|raw }}
    </h2>
    {% endif %}
    <div>
        {{ entry.content|shortcode|markdown|raw }}
    </div>
</div>
{% endblock %}
