{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
    {% set page = request.getQueryParams().page %}
    {% set tag = request.getQueryParams().tag %}
    {% set blog_posts_limit = 7 %}

    {% set blogCacheID = strings('blogCacheID' ~ locale).hash().toString() %}
    {% if flextype.cache.has(blogCacheID) %}
        {% set blog = flextype.cache.get(blogCacheID) %}
    {% else %}
        {% set blog = flextype.entries.fetch('/blog', {'collection': true}).exceptFromCollection(['content']) %}
        {% do flextype.cache.set(blogCacheID, blog) %}
    {% endif %}

    {% if tag %}

        {% set blog_posts_length = blog.copy()
                                       .where('tags', 'contains', tag)
                                       .where('visibility', 'nin', ['draft', 'hidden'])
                                       .count() %}

        {% set blog_posts_pages = (blog_posts_length/blog_posts_limit)|round(0, 'ceil') %}

        {% if page < 1 %}
            {% set page = 1 %}
        {% elseif page > blog_posts_pages %}
            {% set page = blog_posts_pages %}
        {% endif %}

        {% set blog_posts_offset = (page-1)*blog_posts_limit %}
        {% if blog_posts_offset < 0 %}{% set blog_posts_offset = 0 %}{% endif %}

        {% set blog_posts = blog.copy()
                                .where('tags', 'contains', tag)
                                .where('visibility', 'nin', ['draft', 'hidden'])
                                .sortBy('published_at', 'DESC')
                                .slice(blog_posts_offset, blog_posts_limit) %}
    {% else %}

        {% set blog_posts_length = blog.copy()
                                       .where('visibility', 'nin', ['draft', 'hidden'])
                                       .count() %}

        {% set blog_posts_pages = (blog_posts_length/blog_posts_limit)|round(0, 'ceil') %}

        {% if page < 1 %}
            {% set page = 1 %}
        {% elseif page > blog_posts_pages %}
            {% set page = blog_posts_pages %}
        {% endif %}

        {% set blog_posts_offset = (page-1)*blog_posts_limit %}
        {% if blog_posts_offset < 0 %}{% set blog_posts_offset = 0 %}{% endif %}

        {% set blog_posts = blog.copy()
                                .where('visibility', 'nin', ['draft', 'hidden'])
                                .sortBy('published_at', 'DESC')
                                .slice(blog_posts_offset, blog_posts_limit) %}

    {% endif %}

    <div class="container mx-auto bg-white text-black pb-24">
        <h1 class="uppercase text-center text-3xl lg:text-6xl pt-24 pb-24 m-0">
            {{ entry.title|raw }}
        </h1>
        <div class="flex content-center flex-wrap">
            <div class="w-full lg:w-9/12 p-2 text-left">
                {% for post in blog_posts %}
                <a href="{{ url() }}/{{ post.id }}" class="flex align-middle mb-6 px-6 post">
                    <h4 class="w-full text-xl pb-0 mb-0">{{ post.title }}</h4>
                    <div class="text-xs text-center text-gray-800 px-2 pb-2 absolute right-0 bottom-0">
                        <b>{{ post.published_at|date(flextype.registry.get('flextype.settings.date_display_format')) }}</b>, {{ txt.by }} <b>{{ post.author.name }}</b>
                    </div>
                </a>
                {% endfor %}

                {# PAGINATION NAVIGATION #}
                <div class="text-center mt-10">
                    {% if (page - 1) > 0 %}
                        <a class="no-underline" href="?page={{ page - 1 }}{% if tag %}&tag={{ tag }}{% endif %}">&larr;</a>
                    {% endif %}
                    {% if blog_posts_pages is not null and blog_posts_pages > 1 %}
                        {{ page }} / {{ blog_posts_pages }}
                    {% endif %}
                    {% if (page) < blog_posts_pages %}
                        <a class="no-underline" href="?page={{ page + 1 }}{% if tag %}&tag={{ tag }}{% endif %}">&rarr;</a>
                    {% endif %}
                </div>
                {# /PAGINATION NAVIGATION #}

            </div>
            <div class="w-full lg:w-3/12 p-2">
                <div class="text-black text-left p-6 mb-6 plate">
                    {# TAGS CLOUD #}
                    {% set tagsCloudCacheID = strings('tagsCloudCacheID' ~ locale).hash().toString() %}
                    {% if flextype.cache.has(tagsCloudCacheID) %}
                        {% set tags_cloud = flextype.cache.get(tagsCloudCacheID) %}
                    {% else %}
                        {% set tags_cloud = [] %}
                        {% for post in blog.copy()
                                           .where('visibility', 'nin', ['draft', 'hidden'])
                                           .sortBy('published_at', 'DESC') %}
                            {% set tags = post.tags|replace({' ': ''}) %}
                            {% set tags_cloud = tags_cloud|merge(tags|split(',')) %}
                        {% endfor %}
                        {% do flextype.cache.set(tagsCloudCacheID, tags_cloud) %}
                    {% endif %}

                    {% if tags_cloud|length > 0 %}
                        <h4 class="text-center mb-2 pb-3 border-b border-black uppercase font-semibold">{{ entry.txt_tags }}</h4>
                        <div class="mr-12 mt-5">
                            {% for tag in tags_cloud|reduce((unique, item) => item in unique ? unique : unique|merge([item]), [])  %}
                                <a class="no-underline px-1 mb-2 flex items-center" href="{{ url() }}/blog?tag={{ tag|trim }}"><span class="inline-block w-6 text-center mr-1 icon-svg-small">{{ icon('hashtag', 'fontawesome|solid') }}</span> {{ tag|trim }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <a class="pl-6 pr-6 pt-2 pb-2 w-full button  uppercase"
                href="https://github.com/flextype/flextype.org/tree/dev/project/entries/blog">{{ entry.txt_submit_post }}</a>

                <div class="text-center mt-4">
                    <hr class="mt-6 mb-5 border-b border-black">
                    <a class=" uppercase" href="{{ url() }}/blog.atom">ATOM 1.0</a>
                    <a class=" uppercase" href="{{ url() }}/blog.rss">RSS</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
