{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
    <div class="container mx-auto bg-white text-black pb-24">
        <div class="uppercase text-center pt-24 pb-24 m-0">
            <div>
                <h1 class="text-3xl lg:text-6xl mb-0"><a class="no-underline" href="{{ url() }}/downloads/extend/plugins/{{ name }}">{{ entry.title }}</a></h1>
            </div>
            <div>
                <span class="opacity-50"><a class="no-underline" href="{{ url() }}/blog">{{ txt.blog }}</a></span>
            </div>
        </div>
        <div class="lg:px-24">
            <div>{{ entry.content|shortcode|markdown|raw}}</div>
            <div class="mt-10">
                <b>Date:</b>
                {{ entry.published_at|date(flextype.registry.get('flextype.settings.date_display_format')) }}
                <b>{{ txt.tags }}:</b>
                {% if entry.tags is not empty %}
                    {% for tag in entry.tags|split(',') %}
                        <a class="no-underline" href="{{ url() }}/blog?tag={{ tag }}">{{ tag|trim }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <hr class="mt-6 mb-6 border-b border-black">
            <div class="mt-6 mb-6">
                <a href="{{ url() }}/discord">Discuss this post</a>
            </div>
        </div>
    </div>
{% endblock %}
