{% extends "themes/" ~ flextype.registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
{% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/flextype/partials/nav.html' %}
<div class="container mx-auto pb-24">
    <h1 class="uppercase text-center text-3xl lg:text-6xl m-0 mt-24 mb-24">
        {{ entry.title|raw }}
    </h1>
    <h2 class="text-center m-0 pl-6 pr-6 lg:pl-40 lg:pr-40 pb-24 text-xl font-normal">
        {{ entry.description|raw }}
    </h2>
    <div class="flex content-center flex-wrap mt-12 justify-center border rounded-lg border-slate-900 plate-shadow">
        <div class="w-full lg:w-6/12 p-6 text-center border-r border-slate-900">
            <div class="p-12 h-full plate">
                <div class="icon-svg-large mb-5 text-center">{{ icon('download', 'fontawesome|solid') }}</div>
                <h4 class="text-3xl">Flextype</h4>
                <div class="h-20 mb-10">
                    Release package contains:<br>
                    <div class="no-underline px-2 py-1 mb-2 inline-block"><b>Flextype 1.0.0-alpha.1</b></div>
                </div>
                <a class="button" href="https://github.com/flextype/flextype/releases/download/v1.0.0-alpha.1/flextype-1.0.0-aplha.1.zip">Download</a>
            </div>
        </div>
        <div class="w-full lg:w-6/12 p-6 text-center">
            <div class="p-12 h-full plate">
                <div class="icon-svg-large mb-5 text-center">{{ icon('star', 'fontawesome|solid') }}</div>
                <h4 class="text-2xl">{{ entry.txt_extend|raw }}</h4>
                <div class="h-20 mb-10">
                    Extend and Customize Flextype Core Functionality by adding plugins and other packages.
                    <br>
                </div>
                <a class="button" href="{{ url() }}/flextype/downloads/extend">Extend</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
