{% extends "themes/" ~ flextype.registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
    <div class="container mx-auto bg-white text-black pb-24">
        <h1 class="uppercase text-center text-3xl lg:text-6xl m-0 pt-24 pb-24">
            {{ entry.title|raw }}
        </h1>
        <div>
            <div class="flex content-center flex-wrap">
                <div class="w-full lg:w-6/12 p-6 text-center">
                    <div class="p-12 h-full text-black plate">
                        <div class="icon-svg-large mb-5 text-center">{{ icon('download', 'fontawesome|solid') }}</div>
                        <h4 class="text-2xl">Flextype CMS</h4>
                        <div class="h-48 mb-10">
                            {{ entry.txt_release_package_contains|raw }}:<br><br>
                            <div class="no-underline px-2 py-1 mb-2 inline-block"><b>Flextype Core</b></div>
                            <div class="no-underline px-2 py-1 mb-2 inline-block">
                                <b>{{ entry.txt_plugins|raw }}:</b> admin, accounts-admin, acl, site, twig, form, form-admin, themes-admin, jquery, icon, phpmailer
                            </div>
                            <div class="no-underline px-2 mb-2 inline-block"><b>{{ entry.txt_themes|raw }}:</b> noir</div>
                        </div>
                        <a class="pl-6 pr-6 pt-2 pb-2 button " href="https://github.com/flextype/flextype/releases/download/v0.9.16/flextype-cms-0.9.16.zip">{{ entry.txt_download|raw }}</a>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 p-6 text-center">
                    <div class="p-12 h-full text-black plate">
                        <div class="icon-svg-large mb-5 text-center">{{ icon('download', 'fontawesome|solid') }}</div>
                        <h4 class="text-2xl">Flextype Core</h4>
                        <div class="h-48 mb-10">
                            {{ entry.txt_release_package_contains|raw }}:<br><br>
                            <div class="no-underline px-2 py-1 mb-2 inline-block"><b>Flextype Core</b></div>
                        </div>
                        <a class="pl-6 pr-6 pt-2 pb-2 button " href="https://github.com/flextype/flextype/releases/download/v0.9.16/flextype-0.9.16.zip">{{ entry.txt_download|raw }}</a>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 p-6 text-center">
                    <div class="p-12 h-full text-black plate">
                        <div class="icon-svg-large mb-5 text-center">{{ icon('star', 'fontawesome|solid') }}</div>
                        <h4 class="text-2xl">{{ entry.txt_extend|raw }}</h4>
                        <div class="h-48 mb-10">
                            {{ entry.txt_extend_p|raw }}
                            <br>
                        </div>
                        <a class="pl-6 pr-6 pt-2 pb-2 button " href="{{ url() }}/downloads/extend">{{ entry.txt_extend_flextype|raw }}</a>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 p-6 text-center">
                    <div class="p-12 h-full text-black plate">
                        <div class="icon-svg-large mb-5 text-center">{{ icon('user-astronaut', 'fontawesome|solid') }}</div>
                        <h4 class="text-2xl">{{ entry.txt_contribution_financial_support_heading|raw }}</h4>
                        <div class="h-48 mb-10 text-left">
                            {{ entry.txt_contribution_financial_support_p|raw }}
                        </div>
                    </div>
                </div>
                <!--
                <div class="w-full p-2 text-center">
                    <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                        <i class="fas fa-info-circle text-6xl mb-5" aria-hidden="true"></i>
                        <h4 class="text-2xl">QUICK INSTALLATION</h4>
                        <div class="mb-10 text-left">
                            1. <a href="https://flextype.org/en/downloads">Download the latest version of Flextype.</a><br>
                            2. Unzip the contents to a new folder on your local computer, and upload to your webhost using the (S)FTP client of your choice. After you’ve done this, create directory <code>/project</code> and be sure to chmod the following directory to <code>755</code> (or <code>777</code>), so it is readable and writable by Flextype.<br>
                            3. Create CDA, CMA and Access tokens for your project using this <a href="{{ url() }}/api-token-generator">webpage</a>.
                            <br><br><br><br>
                            <div class="text-center">
                                <a class="no-underline uppercase text-center relative  relative pl-6 pr-6 pt-2 pb-2 text-black bg-white border-black border-2 hover:bg-black hover:text-white hover:border-black"  href="https://docs.flextype.org/en/getting-started/installation">READ THE DOCUMENTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <!--
                <div class="w-full p-2 text-center">
                    <div class="p-12 h-full text-black rounded-lg" style="background-color: #f8f9fb;">
                        <i class="fab fa-youtube text-6xl mb-5" aria-hidden="true"></i>
                        <h4 class="text-2xl">{{ entry.txt_installation_video_tutorials|raw }}</h4>
                        <div class="mb-10 text-center">
                            {{ entry.txt_installation_video_tutorials_links|raw }}
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
{% endblock %}
