{% extends "themes/" ~ flextype.registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}
{% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/flextype/partials/nav.html' %}

    <div class="container mx-auto pb-24" >
        <div class="uppercase text-center mt-24 mb-24">
            <div>
                <h1 class="text-3xl lg:text-6xl mb-0"><a class="no-underline" href="{{ url() }}/flextype/downloads/extend/plugins/{{ name }}">{{ entry.title }}</a></h1>
            </div>
            <div>
                <span class="opacity-50"><a class="no-underline" href="{{ url() }}/flextype/downloads">{{ entry.txt_downloads|raw }}</a></span>
            </div>
        </div>
        <div>
            <div class="lg:flex">
                <div class="w-full lg:w-full p-6 lg:mr-2 text-center">
                    <div class="p-12 h-full">
                        <div class="icon-svg-large mb-5 text-center">{{ icon('plug', 'fontawesome|solid') }}</div>
                        <h4 class="text-2xl">{{ entry.txt_plugins|raw }}</h4>
                        <div class="h-24 mb-10">
                            Extend and customize Flextype functionality with plugins.
                            <br>
                        </div>
                        <a class="pl-6 pr-6 pt-2 pb-2 button"  href="{{ url() }}/flextype/downloads/extend/plugins">{{ entry.txt_plugins_browse|raw }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
