{% extends "themes/" ~ flextype.registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}

{% set name = uri|split('/')|last %}

<div class="container mx-auto text-plate-900 pb-24">
    <div class="uppercase text-center mt-24 mb-24">
        <div>
            <h1 class="text-3xl lg:text-6xl mb-0"><a class="no-underline" href="{{ url() }}/flextype/downloads/extend/plugins/{{ entry.slug }}/">{{ entry.title }}</a></h1>
        </div>
        <div>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/flextype/downloads/">DOWNLOADS</a></span>
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/flextype/downloads/extend/">EXTEND</a></span>
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/flextype/downloads/extend/plugins/">PLUGINS</a></span>
        </div>
    </div>
    <div class="plate border border-slate-900 dark:border-slate-500 rounded-lg p-4 plate-shadow">
        {% set repo_name = entry.github|split('/')  %}
        {% set repo_name_length = repo_name|length %}

        {% set plugin = flextype.serializers.yaml.decode(filesystem().file("https://raw.githubusercontent.com/" ~ repo_name[repo_name_length-2] ~ "/" ~ repo_name[repo_name_length-1] ~ "/master/plugin.yaml").get()) %}

        <div class="flex content-center flex-wrap">
            <div class="w-full lg:w-9/12 pl-2 pr-7 text-left">
                <div class="text-plate-900 mb-6">
                    <div class="flex align-middle items-center">
                        <span class="icon-svg-large mr-5">{{ icon(entry.icon.name, entry.icon.set) }}</span>
                        <div class="text-left">
                            <h4 class="text-2xl pb-0 mb-0 block">{{ entry.name }}</h4>
                            <p class="m-0">
                                {{ entry.description }}
                            </p>
                            <p class="m-0 text-sm">
                                <span class="opacity-50">by</span> <a href="{{ entry.author.url }}"><b>{{ entry.author.name }}</b></a>
                            </p>
                        </div>
                    </div>
                </div>

                <hr class="mb-6 border-b border-slate-800 dark:border-slate-500">

                {{ entry.content|shortcode|markdown|raw }}
            </div>
            <div class="w-full lg:w-3/12 p-2">
                <div class="text-left mb-6 border-slate-800 dark:border-slate-500 dark:bg-slate-800 border">
                    <div class="flex content-center flex-wrap p-6 pb-0">
                        <div class="w-full">
                            <p class="m-0 opacity-50">Version</p>
                            <p>{{ plugin.version }}</p>
                        </div>
                        <div class="w-full">
                            <p class="m-0 opacity-50">Lincense</p>
                            <p>{{ plugin.license }}</p>
                        </div>
                        <div class="w-full">
                            <p class="m-0 opacity-50">Dependencies</p>
                            {% for key, val in plugin.dependencies %}
                                {% if key == 'flextype' %}
                                    <a href="{{ url() }}/flextype/downloads/">{{ key }}</a>: {{ val }}<br>
                                {% else %}
                                    <a href="{{ url() }}/flextype/downloads/extend/plugins/{{ key }}/">{{ key }}</a>: {{ val }}<br>
                                {% endif %}
                            {% endfor %}
                            <p></p>
                        </div>
                        <div class="w-full">
                            <p class="m-0 opacity-50">Links</p>
                            <p>
                                {% if plugin.homepage %}<a href="{{ plugin.homepage }}">Homepage</a><br>{% elseif entry.github %}<a href="{{ entry.github }}">Homepage</a><br>{% endif %}
                                {% if plugin.documentation %}<a href="{{ plugin.documentation }}">Documentation</a><br>{% elseif entry.github %}<a href="{{ entry.github }}">Documentation</a><br>{% endif %}
                                {% if plugin.changelog %}<a href="{{ plugin.changelog }}">Changelog</a><br>{% elseif entry.github %}<a href="{{ entry.github }}">Changelog</a><br>{% endif %}
                                {% if plugin.bugs %}<a href="{{ plugin.bugs }}">Issues</a>{% elseif entry.github %}<a href="{{ entry.github }}">Issues</a><br>{% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="flex content-center flex-wrap p-6 pt-0">
                        <div class="w-full">
                            <p class="m-0 opacity-50">Categories</p>
                            <p>
                                {% set categories = entry.category|replace({' ': ''}) %}
                                {% for category in categories|split(',') %}
                                    <a class="underline" href="{{ url() }}/flextype/downloads/extend/plugins/categories/{{ category|trim }}/">{{ category|trim }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div class="border-t border-slate-900">
                        <a class="bg-amber-300 dark:bg-amber-800 dark:hover:bg-amber-900 dark:hover:text-white hover:text-slate-900 hover:bg-amber-400 no-underline block text-center py-2"
                        href="{{ entry.github }}/releases/download/v{{ plugin.version }}/{{ entry.slug }}-{{ plugin.version }}.zip">DOWNLOAD</a>
                    </div>
                </div>
            </div>
        </div>

        </div>
    
    <div>
        <div class="p-2 mt-8">
            <h4 class="text-2xl">Other plugins by {{ plugin.author.name }}</h4>
            {% if entry.author.email is not empty %}
                {% set related_plugins = flextype.entries.fetch('flextype/downloads/extend/plugins', {'collection': true})
                                                .where('author.email', 'eq', entry.author.email)
                                                .where('visibility', 'nin', ['draft', 'hidden'])
                                                .random(6) %}

                {% if related_plugins|length > 0 %}
                    <div class="flex content-center flex-wrap mt-5">
                        {% for related_plugin in related_plugins %}
                            {% if related_plugin.slug != entry.slug %}
                            <a href="{{ url() }}/{{ related_plugin.id }}/" class="w-full p-2 lg:w-6/12 no-underline ">
                                <div class="flex p-6 align-middle">
                                    <span class="icon-svg-large mr-5">{{ icon(related_plugin.icon.name, related_plugin.icon.set) }}</span>
                                    <div class="text-left">
                                        <h4 class="text-xl p-0 m-0 block">{{ related_plugin.title }}</h4>
                                        <p class="m-0">
                                            {{ related_plugin.description }}
                                        </p>
                                    </div>
                                </div>
                            </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <hr class="mb-6 border-b border-slate-800">

        <div class="p-2">
            <a href="{{ url() }}/flextype/downloads/extend/plugins/">More plugins</a>
        </div>
    </div>
</div>
{% endblock %}
