{% extends "themes/" ~ flextype.registry.get('plugins.site.settings.theme') ~ "/templates/partials/base.html" %}

{% block content %}

{% set name = uri|split('/')|last %}

<div class="container mx-auto bg-white text-black pb-24">
    <div class="uppercase text-center pt-24 pb-24 m-0">
        <div>
            <h1 class="text-3xl lg:text-6xl mb-0"><a class="no-underline" href="{{ url() }}/downloads/extend/{{ name }}">{{ entry.title }}</a></h1>
        </div>
        <div>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/downloads">DOWNLOADS</a></span>
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/downloads/extend">EXTEND</a></span>
        </div>
    </div>
    <div class="flex content-center flex-wrap">
        <div class="w-full lg:w-9/12 p-2 text-center">

            {# pagination #}
              {% set page = request.getQueryParams().page %}
              {% set category = request.getQueryParams().category %}
              {% set themes_items_limit = 10 %}

              {% set themesCacheID = strings('themesCacheID' ~ locale).hash().toString() %}
              {% if flextype.cache.has(themesCacheID) %}
                  {% set themes = flextype.cache.get(themesCacheID) %}
              {% else %}
                  {% set themes = flextype.entries.fetch('/downloads/extend/themes', {'collection': true}) %}
                  {% do flextype.cache.set(themesCacheID, themes) %}
              {% endif %}

              {% if category %}

                  {% set themes_items_length = themes.copy()
                                                     .where('category', 'contains', 'category')
                                                     .where('visibility', 'nin', ['draft', 'hidden'])
                                                     .count() %}

                  {% set themes_items_pages = (themes_items_length/themes_items_limit)|round(0, 'ceil') %}
                  {% if page < 1 %}
                      {% set page = 1 %}
                  {% elseif page > themes_items_pages %}
                      {% set page = themes_items_pages %}
                  {% endif %}
                  {% set themes_items_offset = (page-1)*themes_items_limit %}
                  {% if themes_items_offset < 0 %}{% set themes_items_offset = 0 %}{% endif %}

                  {% set themes_items = themes.copy()
                                               .where('category', 'contains', category)
                                               .where('visibility', 'nin', ['draft', 'hidden'])
                                               .sortBy('published_at', 'DESC')
                                               .slice(themes_items_offset, themes_items_limit) %}

              {% else %}

                  {% set themes_items_length = themes.copy()
                                                      .where('visibility', 'nin', ['draft', 'hidden'])
                                                      .count() %}

                  {% set themes_items_pages = (themes_items_length/themes_items_limit)|round(0, 'ceil') %}

                  {% if page < 1 %}
                      {% set page = 1 %}
                  {% elseif page > themes_items_pages %}
                      {% set page = themes_items_pages %}
                  {% endif %}

                  {% set themes_items_offset = (page-1)*themes_items_limit %}
                  {% if themes_items_offset < 0 %}{% set themes_items_offset = 0 %}{% endif %}

                  {% set themes_items = themes.copy()
                                               .where('visibility', 'nin', ['draft', 'hidden'])
                                               .sortBy('published_at', 'DESC')
                                               .slice(themes_items_offset, themes_items_limit) %}

              {% endif %}

              {# /pagination #}

             {% for item in themes_items %}
             <a href="{{ url() }}/{{ item.id }}" class="p-6 flex align-middle mb-6 extend">
                 <img src="{{ item.preview }}" alt="{{ item.title }}" style="height: 120px; margin-right: 20px;">
                 <div class="text-left">
                     <h4 class="text-xl pb-0 mb-0 block">{{ item.title }}</h4>
                     <p class="m-0">
                         {{ item.description }}
                     </p>
                     <div class="text-xs text-center text-gray-800 px-2 pb-2 absolute right-0 bottom-0">
                         {{ txt.by }} <b>{{ item.author.name }}</b>
                     </div>
                 </div>
             </a>
           {% endfor %}

           {# pagination navigation #}
           <div class="text-center mt-10">
               {% if (page - 1) > 0 %}
                   <a href="?page={{ page - 1 }}{% if category %}&category={{ category }}{% endif %}">&larr;</a>
               {% endif %}
               {% if themes_items_pages is not null and themes_items_pages > 1 %}
                   {{ page }} / {{ themes_items_pages }}
               {% endif %}
               {% if (page) < themes_items_pages %}
                   <a href="?page={{ page + 1 }}{% if category %}&category={{ category }}{% endif %}">&rarr;</a>
               {% endif %}
           </div>
           {# /pagination navigation #}

        </div>
        <div class="w-full lg:w-3/12 p-2">
            <div class="text-black text-left p-6 mb-6 plate">
                {# CATEGORY CLOUD #}
                {% set categoryThemesCloudCacheID = strings('categoryThemesCloudCacheID' ~ locale).hash().toString() %}
                {% if flextype.cache.has(categoryThemesCloudCacheID) %}
                    {% set category_cloud = flextype.cache.get(categoryThemesCloudCacheID) %}
                {% else %}
                    {% set category_cloud = [] %}
                    {% for item in themes.copy()
                                       .where('visibility', 'nin', ['draft', 'hidden'])
                                       .sortBy('published_at', 'DESC') %}
                        {% set category = item.category|replace({' ': ''}) %}
                        {% set category_cloud = category_cloud|merge(category|split(',')) %}
                    {% endfor %}
                    {% do flextype.cache.set(categoryThemesCloudCacheID, category_cloud) %}
                {% endif %}

                {% set category_cloud = [] %}
                {% for item in themes.copy() %}
                    {% set category = item.category|replace({' ': ''}) %}
                    {% set category_cloud = category_cloud|merge(category|split(',')) %}
                {% endfor %}

                {% if category_cloud|length > 0 %}
                    <h4 class="text-center mb-2 pb-3 border-b border-black uppercase font-semibold">{{ entry.txt_categories }}</h4>
                    <div class="mr-12 mt-5">
                        {% for category in category_cloud|reduce((unique, item) => item in unique ? unique : unique|merge([item]), [])  %}
                            <a class="no-underline px-1 mb-2 flex items-center" href="{{ url() }}/downloads/extend/themes?category={{ category|trim }}">
                                {% if category == 'framework' %}
                                <span class="inline-block w-6 text-center mr-1 icon-svg-small">{{ icon('bootstrap', 'fontawesome|brands') }}</span>
                                {% else %}
                                <span class="inline-block w-6 text-center mr-1 icon-svg-small">{{ icon('palette', 'fontawesome|solid') }}</span>
                                {% endif %}
                                {{ category|trim }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                {# /TAGS CLOUD #}
            </div>
            <a class="pl-6 pr-6 pt-2 pb-2 w-full fadeIn button  uppercase"
            href="https://github.com/flextype/flextype.org/tree/dev/project/entries/en/downloads/extend/themes">{{ entry.txt_submit_theme }}</a>
        </div>
    </div>
</div>
{% endblock %}
